### Start Spark Session

In [ ]:
import pyspark
from pyspark.sql import Row
from pyspark.sql import SparkSession
#
import pandas as pd
from datetime import datetime, date
#

_spark = SparkSession.builder.master('local[1]').getOrCreate()

### View Spark Session UI

In [ ]:
_spark

### Load Data from CSV

In [ ]:
_csvDF001 = _spark.read.format('csv').option('inferSchema', True).option('header',True).load("file:///C:/Users/Administrator/Documents/Code/Python/Spark/BigMart.Sales.csv")

In [ ]:
_csvDF001.show(3)

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|  Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|      Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|       Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 3 rows

### Load Data from Json

In [ ]:
_dfJson = _spark.read \
				.format('json') \
				.option('inferSchema',True) \
				.option('header',True) \
				.option('multiline',False) \
				.load("file:///C:/Users/Administrator/Documents/Code/Python/Spark/drivers.json")

In [ ]:
_dfJson.show(5)

+----+----------+--------+----------+--------------------+-----------+------+--------------------+
|code|       dob|driverId| driverRef|                name|nationality|number|                 url|
+----+----------+--------+----------+--------------------+-----------+------+--------------------+
| HAM|1985-01-07|       1|  hamilton|   {Lewis, Hamilton}|    British|    44|http://en.wikiped...|
| HEI|1977-05-10|       2|  heidfeld|    {Nick, Heidfeld}|     German|    \N|http://en.wikiped...|
| ROS|1985-06-27|       3|   rosberg|     {Nico, Rosberg}|     German|     6|http://en.wikiped...|
| ALO|1981-07-29|       4|    alonso|  {Fernando, Alonso}|    Spanish|    14|http://en.wikiped...|
| KOV|1981-10-19|       5|kovalainen|{Heikki, Kovalainen}|    Finnish|    \N|http://en.wikiped...|
+----+----------+--------+----------+--------------------+-----------+------+--------------------+
only showing top 5 rows

### Schema Definition

In [ ]:
_csvDF001.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

### DDL Schema

In [ ]:
_newCSV_DDL_Schema =	'''
							Item_Identifier				string
						,	Item_Weight					double
						,	Item_Fat_Content			string
						,	Item_Visibility				double
						,	Item_Type					string
						,	Item_MRP					double
						,	Outlet_Identifier			string
						,	Outlet_Establishment_Year	integer
						,	Outlet_Size					string
						,	Outlet_Location_Type		string
						,	Outlet_Type					string
						,	Item_Outlet_Sales			double
						'''
##
_csvDF001 = _spark.read.format('csv') \
					.schema(_newCSV_DDL_Schema) \
					.option('header',True) \
					.load("file:///C:/Users/Administrator/Documents/Code/Python/Spark/BigMart.Sales.csv")
##

In [ ]:
_csvDF001.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [ ]:
## let's check the schema again
_csvDF001.printSchema()

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

### StructType Schema

In [ ]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
#
_structSchema = StructType([	\
								StructField('Item_Identifier',				StringType(),	True)	\
							,	StructField('Item_Weight',					DoubleType(),	True)	\
							,	StructField('Item_Fat_Content',				StringType(),	True)	\
							,	StructField('Item_Visibility',				DoubleType(),	True)	\
							,	StructField('Item_Type',					StringType(),	True)	\
							,	StructField('Item_MRP',						DoubleType(),	True)	\
							,	StructField('Outlet_Identifier',			StringType(),	True)	\
							,	StructField('Outlet_Establishment_Year',	IntegerType(),	True)	\
							,	StructField('Outlet_Size',					StringType(),	True)	\
							,	StructField('Outlet_Location_Type',			StringType(),	True)	\
							,	StructField('Outlet_Type',					StringType(),	True)	\
							,	StructField('Item_Outlet_Sales',			DoubleType(),	True)	\
							])
#
#
_csvDF002 = _spark.read.format('csv') \
					.schema(_structSchema) \
					.option('header',True) \
					.load("file:///C:/Users/Administrator/Documents/Code/Python/Spark/BigMart.Sales.csv")
#
_csvDF002.show(5)
#

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [ ]:
## let's check the schema again
_csvDF002.printSchema()
#

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: double (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

### SELECT

In [ ]:
_newDataFrame_fromSelect001 = \
	_csvDF002.select(	\
						'Item_Identifier'
					,	'Item_Weight'
					,	'Item_Fat_Content').show(5)

+---------------+-----------+----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|
+---------------+-----------+----------------+
|          FDA15|        9.3|         Low Fat|
|          DRC01|       5.92|         Regular|
|          FDN15|       17.5|         Low Fat|
|          FDX07|       19.2|         Regular|
|          NCD19|       8.93|         Low Fat|
+---------------+-----------+----------------+
only showing top 5 rows

In [ ]:
_newDataFrame_fromSelect002 = \
	_csvDF002.select(	\
						col('Item_Identifier')
					,	col('Item_Weight')
					,	col('Item_Fat_Content')).show(5)

+---------------+-----------+----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|
+---------------+-----------+----------------+
|          FDA15|        9.3|         Low Fat|
|          DRC01|       5.92|         Regular|
|          FDN15|       17.5|         Low Fat|
|          FDX07|       19.2|         Regular|
|          NCD19|       8.93|         Low Fat|
+---------------+-----------+----------------+
only showing top 5 rows

In [ ]:
_newDataFrame_fromSelect003 = \
	_csvDF002.select(	\
						col('Item_Identifier')
					,	col('Item_Weight')
					,	col('Item_Fat_Content')).show(5)

+---------------+-----------+----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|
+---------------+-----------+----------------+
|          FDA15|        9.3|         Low Fat|
|          DRC01|       5.92|         Regular|
|          FDN15|       17.5|         Low Fat|
|          FDX07|       19.2|         Regular|
|          NCD19|       8.93|         Low Fat|
+---------------+-----------+----------------+
only showing top 5 rows

### ALIAS

In [ ]:
_newDataFrame_fromSelect004 = \
	_csvDF002.select(	\
						col('Item_Identifier').alias('Item_Id')
					,	col('Item_Weight').alias('Item_W')
					,	col('Item_Fat_Content').alias('Item_FT')).show(5)

+-------+------+-------+
|Item_Id|Item_W|Item_FT|
+-------+------+-------+
|  FDA15|   9.3|Low Fat|
|  DRC01|  5.92|Regular|
|  FDN15|  17.5|Low Fat|
|  FDX07|  19.2|Regular|
|  NCD19|  8.93|Low Fat|
+-------+------+-------+
only showing top 5 rows

### FILTER/WHERE

In [ ]:
_newDataFrame_fromSelect005 = \
	_csvDF002.filter(col('Item_Fat_Content')=='Regular').show(10)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          FDP36|     10.395|         Regular|            0.0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1076.5986|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|
|          FDS46|       17.6|         Regular|    0.047257328|         Snack Foods|119.6782|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2145.2076|
|          FDP49|        9.0|         Regular|    0.069088961|           Breakfast| 56.3614|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        1547.3192|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

In [ ]:
_newDataFrame_fromSelect006 = \
	_csvDF002.filter(		(col('Item_Weight')<10)
				  		&	(col('Item_Type')=='Soft Drinks')).show(10)

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|  Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          DRC01|       5.92|         Regular|    0.019278216|Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          DRZ11|       8.85|         Regular|    0.113123893|Soft Drinks|122.5388|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1609.9044|
|          DRF49|       7.27|         Low Fat|    0.071077939|Soft Drinks|114.2518|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2618.5914|
|          DRK12|        9.5|              LF|    0.041878397|Soft Drinks|   32.99|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|           133.16|
|          DRK01|       7.63|         Low Fat|     0.06105276|Soft Drinks| 95.4436|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|         1418.154|
|          DRF49|       7.27|         Low Fat|    0.071222087|Soft Drinks|113.5518|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|          569.259|
|          DRE60|      9.395|         Low Fat|    0.159657596|Soft Drinks| 224.972|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|         7696.648|
|          DRI01|       7.97|         Low Fat|    0.034452949|Soft Drinks|174.0422|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2586.633|
|          DRD37|        9.8|         Low Fat|    0.013898123|Soft Drinks|  46.506|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|          372.848|
|          DRH13|      8.575|         Low Fat|    0.023983258|Soft Drinks| 106.328|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|          958.752|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

In [ ]:
_newDataFrame_fromSelect007 = \
	_csvDF002.filter(		(col('Outlet_Location_Type').isin('Tier 1','Tier 2'))
				  		&	(col('Outlet_Size').isNull() == True)) \
			.select(	col('Outlet_Location_Type').alias('Item_Id')
					,	col('Outlet_Size')) \
			.show(10)

+-------+-----------+
|Item_Id|Outlet_Size|
+-------+-----------+
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
| Tier 2|       NULL|
+-------+-----------+
only showing top 10 rows

### withColumnRenamed

In [ ]:
_newDataFrame_fromSelect008 = \
	_csvDF002.withColumnRenamed('Item_Weight','Item_W') \
			.select(	col('Item_Identifier').alias('Item_Id')
					,	col('Item_W')) \
			.show(10)

+-------+------+
|Item_Id|Item_W|
+-------+------+
|  FDA15|   9.3|
|  DRC01|  5.92|
|  FDN15|  17.5|
|  FDX07|  19.2|
|  NCD19|  8.93|
|  FDP36|10.395|
|  FDO10| 13.65|
|  FDP10|  NULL|
|  FDH17|  16.2|
|  FDU28|  19.2|
+-------+------+
only showing top 10 rows

### withColumn

In [ ]:
#
def reemplaza(column, value):
	return when(column != value, column).otherwise(lit(None))
#
### for constant values use lit()
_newDataFrame_fromSelect009 = \
	_csvDF002.withColumnRenamed('Item_Weight','Item_W') \
			.select(	col('Item_Identifier').alias('Item_Id')
					,	col('Item_W') \
					,	col('Outlet_Establishment_Year').alias('Year')
					,	col('Item_Fat_Content').alias('IFC')) \
			.withColumn('New_W', ifnull('Item_W', lit(-1))) \
			.withColumn('Add',col('New_W')+col('Year')) \
			.withColumn('Minus3',lit(-3)) \
			.withColumn('RemueveMinusOne', reemplaza(col('New_W'), -1)) \
			.withColumn('IFC', regexp_replace(col('IFC'), 'Regular', 'Normalito')) \
			.withColumn('IFC', regexp_replace(col('IFC'), 'Low Fat', 'BajoEnGrasas')) \
			.show(10)

+-------+------+----+------------+------+--------+------+---------------+
|Item_Id|Item_W|Year|         IFC| New_W|     Add|Minus3|RemueveMinusOne|
+-------+------+----+------------+------+--------+------+---------------+
|  FDA15|   9.3|1999|BajoEnGrasas|   9.3|  2008.3|    -3|            9.3|
|  DRC01|  5.92|2009|   Normalito|  5.92| 2014.92|    -3|           5.92|
|  FDN15|  17.5|1999|BajoEnGrasas|  17.5|  2016.5|    -3|           17.5|
|  FDX07|  19.2|1998|   Normalito|  19.2|  2017.2|    -3|           19.2|
|  NCD19|  8.93|1987|BajoEnGrasas|  8.93| 1995.93|    -3|           8.93|
|  FDP36|10.395|2009|   Normalito|10.395|2019.395|    -3|         10.395|
|  FDO10| 13.65|1987|   Normalito| 13.65| 2000.65|    -3|          13.65|
|  FDP10|  NULL|1985|BajoEnGrasas|  -1.0|  1984.0|    -3|           NULL|
|  FDH17|  16.2|2002|   Normalito|  16.2|  2018.2|    -3|           16.2|
|  FDU28|  19.2|2007|   Normalito|  19.2|  2026.2|    -3|           19.2|
+-------+------+----+------------+------+--------+------+---------------+
only showing top 10 rows

### Type Casting

In [ ]:
_newDataFrame_fromSelect010 = \
	_csvDF002.withColumn('Item_Weight', col('Item_Weight').cast(StringType()))
_newDataFrame_fromSelect010.show(5)
_newDataFrame_fromSelect010.printSchema()
#

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows
root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: string (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: double (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: double (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: integer (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: double (nullable = true)

### Save as Parquet & overwrite

In [ ]:
#
_newDataFrame_fromSelect010.write \
			.partitionBy('Outlet_Establishment_Year') \
			.mode('overwrite') \
			.parquet('file:///C:/Users/Administrator/Documents/Code/Python/Spark/BigMart.Sales.010.parquet')
#

### Sort/orderBY

In [ ]:
_csvDF002.sort(col('Item_Weight').desc()) \
		.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDC02|      21.35|         Low Fat|    0.069102831|              Canned|259.9278|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        6768.5228|
|          FDC02|      21.35|         Low Fat|    0.115194717|              Canned|258.3278|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         520.6556|
|          FDC02|      21.35|         Low Fat|    0.068809463|              Canned|258.5278|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|         5206.556|
|          FDC02|      21.35|         Low Fat|    0.068765205|              Canned|260.4278|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|        3644.5892|
|          FDR07|      21.35|         Low Fat|    0.130127365|Fruits and Vegeta...| 96.2094|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         190.4188|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [ ]:
_csvDF002.sort(col('Item_Visibility').asc()) \
			.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDO23|      17.85|         Low Fat|            0.0|              Breads| 93.1436|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        2174.5028|
|          FDY07|       11.8|         Low Fat|            0.0|Fruits and Vegeta...| 45.5402|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1516.0266|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          FDP33|       18.7|         Low Fat|            0.0|         Snack Foods|256.6672|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        3068.0064|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [ ]:
_csvDF002.sort(	\
					col('Item_Weight').desc()
				,	col('Item_Visibility').asc()) \
		.show(10)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDC02|      21.35|         Low Fat|    0.068765205|              Canned|260.4278|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|        3644.5892|
|          FDC02|      21.35|         Low Fat|    0.068809463|              Canned|258.5278|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|         5206.556|
|          FDC02|      21.35|         Low Fat|    0.068822477|              Canned|258.3278|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        7028.8506|
|          FDC02|      21.35|         Low Fat|    0.069102831|              Canned|259.9278|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        6768.5228|
|          FDR07|      21.35|         Low Fat|    0.078060605|Fruits and Vegeta...| 96.0094|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         380.8376|
|          FDC02|      21.35|         Low Fat|    0.115194717|              Canned|258.3278|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         520.6556|
|          FDR07|      21.35|         Low Fat|    0.130127365|Fruits and Vegeta...| 96.2094|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         190.4188|
|          FDT03|      21.25|         Low Fat|    0.009996872|                Meat|185.5608|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        3123.9336|
|          FDT03|      21.25|         Low Fat|    0.009998763|                Meat|182.3608|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         551.2824|
|          FDT03|      21.25|         Low Fat|     0.01001904|                Meat|184.6608|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|         367.5216|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

In [ ]:
## sending 0 means asc == false, which means that will be desc
_csvDF002.filter(col('Item_Weight')<21.35) \
		.sort(	\
					['Item_Weight','Item_Visibility']
				,	ascending = [0,1]) \
		.show(10)

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|  Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDT03|      21.25|         Low Fat|    0.009996872|       Meat|185.5608|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        3123.9336|
|          FDT03|      21.25|         Low Fat|    0.009998763|       Meat|182.3608|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         551.2824|
|          FDT03|      21.25|         Low Fat|     0.01001904|       Meat|184.6608|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|         367.5216|
|          FDT03|      21.25|         Low Fat|    0.010039493|       Meat|181.7608|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1102.5648|
|          FDT03|      21.25|         Low Fat|     0.01005532|       Meat|183.1608|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         2756.412|
|          FDT03|      21.25|         Low Fat|    0.016735879|       Meat|185.2608|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         183.7608|
|          FDQ21|      21.25|         low fat|    0.019407069|Snack Foods|119.3756|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|        3271.7412|
|          FDQ21|      21.25|         Low Fat|    0.019423232|Snack Foods|120.8756|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        3150.5656|
|          FDQ21|      21.25|         Low Fat|     0.01945343|Snack Foods|120.8756|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1454.1072|
|          FDQ21|      21.25|         Low Fat|    0.019462623|Snack Foods|120.8756|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1575.2828|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

### Limit

In [ ]:
_csvDF002.filter(col('Item_Weight')<21.35) \
		.sort(	\
					['Item_Weight','Item_Visibility']
				,	ascending = [1,0]) \
		.limit(5) \
		.show(10000)

+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|   Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDP40|      4.555|         Regular|    0.034410585|Frozen Foods|111.3544|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1342.2528|
|          FDP40|      4.555|         Regular|    0.034357169|Frozen Foods|112.6544|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2684.5056|
|          FDP40|      4.555|         Regular|    0.034350673|Frozen Foods|112.7544|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1789.6704|
|          FDP40|      4.555|         Regular|    0.034328578|Frozen Foods|110.1544|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|        1230.3984|
|          DRE12|       4.59|         Low Fat|    0.070890602| Soft Drinks| 111.686|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         1584.604|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+

### Drop [column]

In [ ]:
_csvDF002.drop(col('Item_Fat_Content'), col('Item_Visibility')) \
		.drop('Item_MRP','Item_Outlet_Sales') \
		.show(10)

+---------------+-----------+--------------------+-----------------+-------------------------+-----------+--------------------+-----------------+
|Item_Identifier|Item_Weight|           Item_Type|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|
+---------------+-----------+--------------------+-----------------+-------------------------+-----------+--------------------+-----------------+
|          FDA15|        9.3|               Dairy|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|
|          DRC01|       5.92|         Soft Drinks|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|
|          FDN15|       17.5|                Meat|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|
|          FDX07|       19.2|Fruits and Vegeta...|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|
|          NCD19|       8.93|           Household|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|
|          FDP36|     10.395|        Baking Goods|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|
|          FDO10|      13.65|         Snack Foods|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|
|          FDP10|       NULL|         Snack Foods|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|
|          FDH17|       16.2|        Frozen Foods|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|
|          FDU28|       19.2|        Frozen Foods|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|
+---------------+-----------+--------------------+-----------------+-------------------------+-----------+--------------------+-----------------+
only showing top 10 rows

### dropDuplicates/drop_duplicates

In [ ]:
_csvDF002.dropDuplicates().show(10)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDB57|      20.25|         Regular|    0.018801549|Fruits and Vegeta...|222.1772|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|          5559.43|
|          FDI27|       8.71|         Regular|     0.04605781|               Dairy| 43.8744|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         633.8416|
|          NCM41|       16.5|         Low Fat|    0.035801238|  Health and Hygiene|  92.612|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|          559.272|
|          FDG16|      15.25|         Low Fat|    0.089742065|        Frozen Foods|213.7192|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1078.596|
|          FDO58|       19.6|         Low Fat|    0.039544237|         Snack Foods|163.6526|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|        1151.1682|
|          DRF36|       16.1|         Low Fat|    0.023577298|         Soft Drinks|192.6846|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2866.269|
|          FDC20|      10.65|              LF|    0.023971463|Fruits and Vegeta...| 54.0272|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         447.4176|
|          FDJ16|      9.195|              LF|    0.114863923|        Frozen Foods| 59.0246|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1853.5872|
|          FDB12|      11.15|         Regular|    0.105287746|        Baking Goods|103.2648|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2388.8904|
|          FDM46|      7.365|         Low Fat|    0.159967845|         Snack Foods|  94.712|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         1304.968|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

In [ ]:
_csvDF002.drop_duplicates(subset=['Item_Type','Item_Fat_Content']).show(10)

+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|   Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDP24|       20.6|              LF|    0.083133128|Baking Goods|120.1756|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1332.9316|
|          FDC37|       NULL|         Low Fat|    0.057556998|Baking Goods|107.6938|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         214.3876|
|          FDP36|     10.395|         Regular|            0.0|Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|
|          FDK48|      7.445|         low fat|            0.0|Baking Goods| 76.8354|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2181.8266|
|          FDF24|       15.5|             reg|    0.025513973|Baking Goods| 83.7934|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|        1474.0812|
|          FDR47|      17.85|              LF|            0.0|      Breads|196.5794|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|         585.2382|
|          FDO23|      17.85|         Low Fat|            0.0|      Breads| 93.1436|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        2174.5028|
|          FDV11|        9.1|         Regular|            0.0|      Breads|173.2054|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        3151.8972|
|          FDW35|       NULL|         low fat|      0.0194158|      Breads| 41.6454|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|          83.8908|
|          FDY47|        8.6|             reg|    0.054706408|      Breads| 128.931|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         1428.141|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

### distinct

In [ ]:
_csvDF002.distinct().show(10)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDB57|      20.25|         Regular|    0.018801549|Fruits and Vegeta...|222.1772|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|          5559.43|
|          FDI27|       8.71|         Regular|     0.04605781|               Dairy| 43.8744|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         633.8416|
|          NCM41|       16.5|         Low Fat|    0.035801238|  Health and Hygiene|  92.612|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|          559.272|
|          FDG16|      15.25|         Low Fat|    0.089742065|        Frozen Foods|213.7192|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1078.596|
|          FDO58|       19.6|         Low Fat|    0.039544237|         Snack Foods|163.6526|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|        1151.1682|
|          DRF36|       16.1|         Low Fat|    0.023577298|         Soft Drinks|192.6846|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2866.269|
|          FDC20|      10.65|              LF|    0.023971463|Fruits and Vegeta...| 54.0272|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         447.4176|
|          FDJ16|      9.195|              LF|    0.114863923|        Frozen Foods| 59.0246|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1853.5872|
|          FDB12|      11.15|         Regular|    0.105287746|        Baking Goods|103.2648|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2388.8904|
|          FDM46|      7.365|         Low Fat|    0.159967845|         Snack Foods|  94.712|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         1304.968|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

### Union and Union By Name

In [ ]:
#
_tableFour = [(1,'Gato'),(2,'Perro'),(5,None)]
_schemaTableFour = 'id INTEGER, name STRING'
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_tableTwo = [(2,'Perro'),(3,'Conejo'),(4,'Ardilla')]
_schemaTableTwo = 'id INTEGER, name STRING'
_dfTableTwo = _spark.createDataFrame(_tableTwo, _schemaTableTwo)
#
_dfTableFour.union(_dfTableTwo).show()
_dfTableFour.unionAll(_dfTableTwo).show()
#
## Note: In other SQL languages, Union eliminates the duplicates but
## UnionAll merges two datasets including duplicate records.
## But, in PySpark both behave the same and recommend using DataFrame duplicate()
## function to remove duplicate rows.
#

+---+-------+
| id|   name|
+---+-------+
|  1|   Gato|
|  2|  Perro|
|  5|   NULL|
|  2|  Perro|
|  3| Conejo|
|  4|Ardilla|
+---+-------+

+---+-------+
| id|   name|
+---+-------+
|  1|   Gato|
|  2|  Perro|
|  5|   NULL|
|  2|  Perro|
|  3| Conejo|
|  4|Ardilla|
+---+-------+

In [ ]:
_dfTableFour.union(_dfTableTwo).drop_duplicates().show()

+---+-------+
| id|   name|
+---+-------+
|  2|  Perro|
|  1|   Gato|
|  4|Ardilla|
|  3| Conejo|
|  5|   NULL|
+---+-------+

In [ ]:
#
_tableFour = [('Gato',1),('Perro',2),(None,3)]
_schemaTableFour = 'name STRING, id INTEGER'
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_tableTwo = [(2,'Perro'),(3,'Conejo'),(4,'Ardilla')]
_schemaTableTwo = 'id INTEGER, name STRING'
_dfTableTwo = _spark.createDataFrame(_tableTwo, _schemaTableTwo)
#
_dfTableFour.union(_dfTableTwo).show()
_dfTableFour.unionByName(_dfTableTwo).show()
#

In [ ]:
#
_tableThree = [('Gato',1,'Blanco'),('Perro',2,'Negro'),(None,-1,'Pardo')]
_schemaTableThree = 'name STRING, id INTEGER, color STRING'
_dfTableThree = _spark.createDataFrame(_tableThree, _schemaTableThree)
#
_dfTableTwo.unionByName(_dfTableThree, allowMissingColumns=True) \
			.sort(col('id').asc()).show(100)
#

+---+-------+------+
| id|   name| color|
+---+-------+------+
| -1|   NULL| Pardo|
|  1|   Gato|Blanco|
|  2|  Perro|  NULL|
|  2|  Perro| Negro|
|  3| Conejo|  NULL|
|  4|Ardilla|  NULL|
+---+-------+------+

### initcap(), upper(), lower(), casefold()

Why `casefold()` over `lower()` for comparisons?

* `casefold()` is more aggressive than `lower()`, providing broader case-folding for case-insensitive comparisons and handling complex case mappings in languages like Turkish or German.
* It's designed specifically to remove case distinctions for comparison purposes.
* While `lower()` can work for basic case-insensitive comparisons, `casefold()` is recommended for greater accuracy, especially with international text.

In [ ]:
#
_tableFour = [(1,'Gato','GATO'),(2,'perro','Conejo'),(5,'ARDILLA','Rata')]
_schemaTableFour = 'id INTEGER, name STRING, alias STRING'
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_tableTwo = [(2,'PerrO','PerroTE'),(3,'Conejo','Liebre'),(4,'Ardilla','ARdiLLA')]
_schemaTableTwo = 'id INTEGER, name STRING, alias STRING'
_dfTableTwo = _spark.createDataFrame(_tableTwo, _schemaTableTwo)
#
_dfTableFour.unionByName(_dfTableTwo, allowMissingColumns=True) \
		.withColumn('name_lower',lower(col('name'))) \
		.select(		col('id') \
		  			,	col('name') \
					,	col('name_lower') \
		  			,	initcap(col('name')).alias('name_initcap') \
					,	upper('alias').alias('name_upper')) \
		.sort(col('id').asc()) \
		.show()
		##.filter(col('name').casefold() == col('alias').casefold()) \

+---+-------+----------+------------+----------+
| id|   name|name_lower|name_initcap|name_upper|
+---+-------+----------+------------+----------+
|  1|   Gato|      gato|        Gato|      GATO|
|  2|  PerrO|     perro|       Perro|   PERROTE|
|  2|  perro|     perro|       Perro|    CONEJO|
|  3| Conejo|    conejo|      Conejo|    LIEBRE|
|  4|Ardilla|   ardilla|     Ardilla|   ARDILLA|
|  5|ARDILLA|   ardilla|     Ardilla|      RATA|
+---+-------+----------+------------+----------+

### current_date(), date_add(), date_sub()

In [ ]:
from datetime import datetime, timezone, timedelta
#
_utcTimeNow = datetime.now(timezone.utc) + timedelta(hours=-24)
#
_tableFour = [('Gato',1,_utcTimeNow),('Perro',2,_utcTimeNow),(None,3,_utcTimeNow)]
_schemaTableFour = 'name STRING, id INTEGER, dt TIMESTAMP'
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_offset = timedelta(hours=-7) ## UTC-7 offset
_tz = timezone(_offset)
_pdtTimeNow = datetime.now(_tz)
#
_tableTwo = [(2,'Perro',_pdtTimeNow),(3,'Conejo',_pdtTimeNow),(4,'Ardilla',_pdtTimeNow)]
_schemaTableTwo = 'id INTEGER, name STRING, dt TIMESTAMP'
_dfTableTwo = _spark.createDataFrame(_tableTwo, _schemaTableTwo)
#
_newDataFrame_fromSelect011 = \
	_dfTableFour \
		.unionByName(_dfTableTwo, allowMissingColumns=True) \
		.withColumn('currentD', current_date()) \
		.withColumn('minusD', date_add('currentD', -2)) \
		.withColumn('currentT', current_timestamp()) \
		.withColumn('new_time', col('currentT') + expr('INTERVAL -3 HOURS -25 MINUTES 20000 SECONDS')) \
		.withColumn('currentZ', current_timezone()) \
		.sort(col('id').asc())		
#
_newDataFrame_fromSelect011.show()
#

+-------+---+--------------------+----------+----------+--------------------+--------------------+-------------------+
|   name| id|                  dt|  currentD|    minusD|            currentT|            new_time|           currentZ|
+-------+---+--------------------+----------+----------+--------------------+--------------------+-------------------+
|   Gato|  1|2025-07-17 10:36:...|2025-07-18|2025-07-16|2025-07-18 10:36:...|2025-07-18 12:44:...|America/Los_Angeles|
|  Perro|  2|2025-07-18 10:36:...|2025-07-18|2025-07-16|2025-07-18 10:36:...|2025-07-18 12:44:...|America/Los_Angeles|
|  Perro|  2|2025-07-17 10:36:...|2025-07-18|2025-07-16|2025-07-18 10:36:...|2025-07-18 12:44:...|America/Los_Angeles|
| Conejo|  3|2025-07-18 10:36:...|2025-07-18|2025-07-16|2025-07-18 10:36:...|2025-07-18 12:44:...|America/Los_Angeles|
|   NULL|  3|2025-07-17 10:36:...|2025-07-18|2025-07-16|2025-07-18 10:36:...|2025-07-18 12:44:...|America/Los_Angeles|
|Ardilla|  4|2025-07-18 10:36:...|2025-07-18|2025-07-16|2025-07-18 10:36:...|2025-07-18 12:44:...|America/Los_Angeles|
+-------+---+--------------------+----------+----------+--------------------+--------------------+-------------------+

### DateDiff

In [ ]:
from datetime import datetime, timezone, timedelta
#
_utcTimeNow = datetime.now(timezone.utc) + timedelta(hours=-24)
_utcTimeNowPlusOne = datetime.now(timezone.utc) + timedelta(hours=1)
_utcTimeNowMinusOne = datetime.now(timezone.utc) + timedelta(hours=-1)
#
_tableFour = [('Gato',1,_utcTimeNow),('Perro',2,_utcTimeNowPlusOne),('Ardilla',3,_utcTimeNowMinusOne)]
_schemaTableFour = 'name STRING, id INTEGER, start_DT TIMESTAMP'
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
## end-date , star-date
#
_dfTableFour \
	.withColumn('week_after', (col('start_DT') + expr('INTERVAL 168 HOURS')).cast('date')) \
	.withColumn('week_before', (col('start_DT') + expr('INTERVAL -168 HOURS')).cast('date')) \
	.withColumn('_AFTER_DIFF_', datediff(col('week_after'), col('start_DT'))) \
	.withColumn('_BEFORE_DIFF_', datediff(col('week_before'), col('start_DT'))) \
	.withColumn('start_time', to_timestamp('start_DT')) \
	.withColumn('end_time', to_timestamp('week_before')) \
	.withColumn('DIFF_MINUTES', (unix_timestamp('week_before') - unix_timestamp('start_DT')) / 60) \
	.show()
#

+-------+---+--------------------+----------+-----------+------------+-------------+--------------------+-------------------+------------+
|   name| id|            start_DT|week_after|week_before|_AFTER_DIFF_|_BEFORE_DIFF_|          start_time|           end_time|DIFF_MINUTES|
+-------+---+--------------------+----------+-----------+------------+-------------+--------------------+-------------------+------------+
|   Gato|  1|2025-07-17 10:36:...|2025-07-24| 2025-07-10|           7|           -7|2025-07-17 10:36:...|2025-07-10 00:00:00|    -10716.3|
|  Perro|  2|2025-07-18 11:36:...|2025-07-25| 2025-07-11|           7|           -7|2025-07-18 11:36:...|2025-07-11 00:00:00|    -10776.3|
|Ardilla|  3|2025-07-18 09:36:...|2025-07-25| 2025-07-11|           7|           -7|2025-07-18 09:36:...|2025-07-11 00:00:00|    -10656.3|
+-------+---+--------------------+----------+-----------+------------+-------------+--------------------+-------------------+------------+

### date_format

In [ ]:
from datetime import datetime, timezone, timedelta
#
_utcTimeNow = datetime.now(timezone.utc) + timedelta(hours=-24)
_utcTimeNowPlusOne = datetime.now(timezone.utc) + timedelta(hours=1)
_utcTimeNowMinusOne = datetime.now(timezone.utc) + timedelta(hours=-1)
#
_tableFour = [('Gato',1,_utcTimeNow),('Perro',2,_utcTimeNowPlusOne),('Ardilla',3,_utcTimeNowMinusOne)]
_schemaTableFour = 'name STRING, id INTEGER, start_DT TIMESTAMP'
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_dfTableFour \
		.withColumn('date_format', date_format('start_DT','E, yyyy-MM-dd HH:mm:ss.SSSSS (Z)').cast(StringType())) \
		.show(_dfTableFour.count(), False)
#

+-------+---+--------------------------+--------------------------------------+
|name   |id |start_DT                  |date_format                           |
+-------+---+--------------------------+--------------------------------------+
|Gato   |1  |2025-07-17 10:36:19.527708|Thu, 2025-07-17 10:36:19.52770 (-0700)|
|Perro  |2  |2025-07-18 11:36:19.527708|Fri, 2025-07-18 11:36:19.52770 (-0700)|
|Ardilla|3  |2025-07-18 09:36:19.527708|Fri, 2025-07-18 09:36:19.52770 (-0700)|
+-------+---+--------------------------+--------------------------------------+

### Handle NULL(s)

* `.dropna('all')` remove rows with ALL columns with value in NULL
* `.dropna('any')` remove rows with ANY columns with value in NULL
* `.dropna(col('<ReplaceWithColumnName>'))` remove rows with columns with name <ReplaceWithColumnName> and value in NULL
* `dropna(subset=['ColumnName01','ColumnName02'])` remove rows with columns with names `['ColumnName01','ColumnName02']` and value in NULL

In [ ]:
#
_csvDF002 \
	.dropna('all') \
	.dropna(subset=['Outlet_Size']) \
	.show(10)
#

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
|          FDP36|     10.395|         Regular|            0.0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|
|          FDP10|       NULL|         Low Fat|    0.127469857|         Snack Foods|107.7622|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4022.7636|
|          FDY07|       11.8|         Low Fat|            0.0|Fruits and Vegeta...| 45.5402|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1516.0266|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 10 rows

### fill NULL values

In [ ]:
#
_csvDF002 \
	.withColumn('New_Item_Weight', ifnull(col('Item_Weight'), lit(-1))) \
	.fillna('es un NULL', subset=['Outlet_Size']) \
	.show(200)
#

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+---------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|New_Item_Weight|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+---------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|            9.3|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|           5.92|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|           17.5|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998| es un NULL|              Tier 3|    Grocery Store|           732.38|           19.2|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|           8.93|
|          FDP36|     10.395|         Regular|            0.0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|         10.395|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|          13.65|
|          FDP10|       NULL|         Low Fat|    0.127469857|         Snack Foods|107.7622|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4022.7636|           -1.0|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        1076.5986|           16.2|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|         4710.535|           19.2|
|          FDY07|       11.8|         Low Fat|            0.0|Fruits and Vegeta...| 45.5402|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1516.0266|           11.8|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|           18.5|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|           15.1|
|          FDS46|       17.6|         Regular|    0.047257328|         Snack Foods|119.6782|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2145.2076|           17.6|
|          FDF32|      16.35|         Low Fat|      0.0680243|Fruits and Vegeta...|196.4426|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1977.426|          16.35|
|          FDP49|        9.0|         Regular|    0.069088961|           Breakfast| 56.3614|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        1547.3192|            9.0|
|          NCB42|       11.8|         Low Fat|    0.008596051|  Health and Hygiene|115.3492|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1621.8888|           11.8|
|          FDP49|        9.0|         Regular|    0.069196376|           Breakfast| 54.3614|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         718.3982|            9.0|
|          DRI11|       NULL|         Low Fat|    0.034237682|         Hard Drinks|113.2834|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         2303.668|           -1.0|
|          FDU02|      13.35|         Low Fat|     0.10249212|               Dairy|230.5352|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2748.4224|          13.35|
|          FDN22|      18.85|         Regular|    0.138190277|         Snack Foods|250.8724|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         3775.086|          18.85|
|          FDW12|       NULL|         Regular|    0.035399923|        Baking Goods|144.5444|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        4064.0432|           -1.0|
|          NCB30|       14.6|         Low Fat|    0.025698134|           Household|196.5084|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1587.2672|           14.6|
|          FDC37|       NULL|         Low Fat|    0.057556998|        Baking Goods|107.6938|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         214.3876|           -1.0|
|          FDR28|      13.85|         Regular|    0.025896485|        Frozen Foods| 165.021|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         4078.025|          13.85|
|          NCD06|       13.0|         Low Fat|    0.099887103|           Household|  45.906|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|          838.908|           13.0|
|          FDV10|      7.645|         Regular|    0.066693437|         Snack Foods| 42.3112|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|          1065.28|          7.645|
|          DRJ59|      11.65|         low fat|    0.019356132|         Hard Drinks| 39.1164|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         308.9312|          11.65|
|          FDE51|      5.925|         Regular|    0.161466534|               Dairy| 45.5086|           OUT010|                     1998| es un NULL|              Tier 3|    Grocery Store|         178.4344|          5.925|
|          FDC14|       NULL|         Regular|    0.072221801|              Canned| 43.6454|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         125.8362|           -1.0|
|          FDV38|      19.25|         Low Fat|    0.170348551|               Dairy| 55.7956|           OUT010|                     1998| es un NULL|              Tier 3|    Grocery Store|         163.7868|          19.25|
|          NCS17|       18.6|         Low Fat|    0.080829372|  Health and Hygiene| 96.4436|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        2741.7644|           18.6|
|          FDP33|       18.7|         Low Fat|            0.0|         Snack Foods|256.6672|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        3068.0064|           18.7|
|          FDO23|      17.85|         Low Fat|            0.0|              Breads| 93.1436|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        2174.5028|          17.85|
|          DRH01|       17.5|         Low Fat|    0.097904029|         Soft Drinks|174.8738|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2085.2856|           17.5|
|          NCX29|       10.0|         Low Fat|    0.089291137|  Health and Hygiene|146.7102|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        3791.0652|           10.0|
|          FDV20|       NULL|         Regular|    0.059511812|Fruits and Vegeta...|128.0678|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        2797.6916|           -1.0|
|          DRZ11|       8.85|         Regular|    0.113123893|         Soft Drinks|122.5388|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1609.9044|           8.85|
|          FDX10|       NULL|         Regular|    0.123111453|         Snack Foods| 36.9874|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         388.1614|           -1.0|
|          FDB34|       NULL|         Low Fat|    0.026480954|         Snack Foods| 87.6198|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         2180.495|           -1.0|
|          FDU02|      13.35|         Low Fat|    0.102511504|               Dairy|230.6352|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         3435.528|          13.35|
|          FDK43|        9.8|         Low Fat|     0.02681843|                Meat| 126.002|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         2150.534|            9.8|
|          FDA46|       13.6|         Low Fat|    0.117818348|         Snack Foods|192.9136|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        2527.3768|           13.6|
|          FDC02|      21.35|         Low Fat|    0.069102831|              Canned|259.9278|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        6768.5228|          21.35|
|          FDL50|      12.15|         Regular|    0.042277867|              Canned|126.5046|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         373.5138|          12.15|
|          FDM39|       6.42|              LF|    0.089498926|               Dairy|178.1002|           OUT010|                     1998| es un NULL|              Tier 3|    Grocery Store|         358.2004|           6.42|
|          NCP05|       19.6|         Low Fat|            0.0|  Health and Hygiene|153.3024|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        2428.8384|           19.6|
|          FDV49|       10.0|         Low Fat|    0.025879577|              Canned|265.2226|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        5815.0972|           10.0|
|          FDL12|      15.85|         Regular|    0.121632721|        Baking Goods|  60.622|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2576.646|          15.85|
|          FDS02|       NULL|         Regular|    0.255394896|               Dairy|196.8794|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         780.3176|           -1.0|
|          NCL17|       7.39|         Low Fat|    0.067779712|  Health and Hygiene|143.8812|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        3134.5864|           7.39|
|          FDM40|     10.195|         Low Fat|    0.159803853|        Frozen Foods|141.5154|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         850.8924|         10.195|
|          FDR13|      9.895|         Regular|    0.028696932|              Canned|117.0492|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         810.9444|          9.895|
|          FDA43|     10.895|         Low Fat|    0.065041581|Fruits and Vegeta...|196.3794|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|        3121.2704|         10.895|
|          NCP18|      12.15|         Low Fat|    0.028760013|           Household|151.4708|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|        4815.0656|          12.15|
|          FDK21|      7.905|         Low Fat|    0.010053105|         Snack Foods|249.0408|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|          6258.52|          7.905|
|          NCX54|      9.195|         Low Fat|    0.048157338|           Household|106.1622|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|         2117.244|          9.195|
|          DRK35|      8.365|         Low Fat|    0.071958197|         Hard Drinks| 38.0506|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         796.9626|          8.365|
|          FDY21|       15.1|         Low Fat|    0.173481304|         Snack Foods| 194.511|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         4910.275|           15.1|
|          FDI26|       NULL|         Low Fat|    0.061082177|              Canned|180.0344|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|          892.172|           -1.0|
|          FDM20|       10.0|         Low Fat|            0.0|Fruits and Vegeta...|246.9144|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        3185.1872|           10.0|
|          FDV27|       7.97|         Regular|    0.040071131|                Meat| 87.3514|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        1062.6168|           7.97|
|          FDF09|       NULL|         Low Fat|    0.012090074|Fruits and Vegeta...| 38.2848|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         484.7024|           -1.0|
|          FDY40|       NULL|         Regular|     0.15028599|        Frozen Foods| 51.0692|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         147.8076|           -1.0|
|          FDY45|       NULL|         Low Fat|    0.026015519|         Snack Foods|255.8356|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|         2543.356|           -1.0|
|          FDC46|       17.7|              LF|    0.195068226|         Snack Foods|185.4266|           OUT010|                     1998| es un NULL|              Tier 3|    Grocery Store|         184.4266|           17.7|
|          FDH19|      19.35|         Low Fat|    0.033082215|                Meat|172.5738|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        4865.6664|          19.35|
|          FDZ03|      13.65|         Regular|    0.078946455|               Dairy| 186.024|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|         1118.544|          13.65|
|          DRH37|       17.6|         Low Fat|    0.041700756|         Soft Drinks|164.8526|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        2302.3364|           17.6|
|          NCI17|      8.645|         Low Fat|    0.143422643|  Health and Hygiene|  95.841|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2027.361|          8.645|
|          FDJ58|       15.6|         Regular|    0.105296072|         Snack Foods|170.1764|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         3435.528|           15.6|
|          FDL12|      15.85|         Regular|    0.121531501|        Baking Goods|  59.222|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|           599.22|          15.85|
|          FDH35|      18.25|         Low Fat|            0.0|       Starchy Foods|164.7526|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        4604.6728|          18.25|
|          FDG02|      7.855|         Low Fat|    0.011324862|              Canned|189.6188|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|        2285.0256|          7.855|
|          NCZ18|      7.825|         low fat|    0.186357148|           Household|254.3698|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        5580.7356|          7.825|
|          FDC29|       8.39|         Regular|    0.024205661|        Frozen Foods|114.0176|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2290.352|           8.39|
|          FDQ10|      12.85|         Low Fat|    0.033230816|         Snack Foods|172.3422|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1207.0954|          12.85|
|          FDN48|       NULL|         Low Fat|    0.113720344|        Baking Goods| 89.9804|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         643.1628|           -1.0|
|          FDL04|       19.0|         Low Fat|    0.112556507|        Frozen Foods|104.9622|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|         1587.933|           19.0|
|          FDV25|      5.905|         Low Fat|            0.0|              Canned|222.5456|           OUT045|                     2002| es un NULL|              Tier 2|Supermarket Type1|        5305.0944|          5.905|
|          FDD58|       7.76|         Low Fat|    0.059352241|         Snack Foods|  101.87|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|          1697.79|           7.76|
|          FDN04|       11.8|             reg|    0.014087057|        Frozen Foods|180.3344|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        1427.4752|           11.8|
|          FDV45|      16.75|         low fat|    0.045230944|         Snack Foods|187.9556|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|          4693.89|          16.75|
|          NCL18|       NULL|         Low Fat|    0.293417759|           Household|194.6136|           OUT019|                     1985|      Small|              Tier 1|    Grocery Store|         583.2408|           -1.0|
|          FDR12|       NULL|         Regular|    0.031382044|        Baking Goods|171.3764|           OUT027|                     1985|     Medium|              Tier 3|Supermarket Type3|        3091.9752|           -1.0|
|          FDG20|       15.5|         Regular|     0.12639886|Fruits and Vegeta...|177.0028|           OUT017|                     2007| es un NULL|              Tier 2|Supermarket Type1|        2479.4392|           15.5|
|          FDZ55|      6.055|         Low Fat|    0.025403898|Fruits and Vegeta...| 160.992|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|         2716.464|          6.055|

### split and indexing (ALL indexes start in ZERO)

In [ ]:
#
_csvDF002 \
	.withColumn('SPLIT_Outlet_Type', split(col('Outlet_Type'), ' ')) \
	.withColumn('Index1', (split(col('Outlet_Type'), ' '))[1]) \
	.withColumn('Index0', (col('SPLIT_Outlet_Type'))[0]) \
	.withColumn('Index2', (col('SPLIT_Outlet_Type'))[2]) \
	.select(	col('Outlet_Type') \
			,	col('SPLIT_Outlet_Type') \
			,	col('Index1') \
			,	col('Index0') \
			,	col('Index2')) \
	.show(10)
#

+-----------------+--------------------+------+-----------+------+
|      Outlet_Type|   SPLIT_Outlet_Type|Index1|     Index0|Index2|
+-----------------+--------------------+------+-----------+------+
|Supermarket Type1|[Supermarket, Type1]| Type1|Supermarket|  NULL|
|Supermarket Type2|[Supermarket, Type2]| Type2|Supermarket|  NULL|
|Supermarket Type1|[Supermarket, Type1]| Type1|Supermarket|  NULL|
|    Grocery Store|    [Grocery, Store]| Store|    Grocery|  NULL|
|Supermarket Type1|[Supermarket, Type1]| Type1|Supermarket|  NULL|
|Supermarket Type2|[Supermarket, Type2]| Type2|Supermarket|  NULL|
|Supermarket Type1|[Supermarket, Type1]| Type1|Supermarket|  NULL|
|Supermarket Type3|[Supermarket, Type3]| Type3|Supermarket|  NULL|
|Supermarket Type1|[Supermarket, Type1]| Type1|Supermarket|  NULL|
|Supermarket Type1|[Supermarket, Type1]| Type1|Supermarket|  NULL|
+-----------------+--------------------+------+-----------+------+
only showing top 10 rows

### explode *(transform list items into rows)*

In [ ]:
#
_csvDF002 \
	.withColumn('SPLIT', split(col('Outlet_Type'), ' ')) \
	.withColumn('EXPLOSIN', explode(col('SPLIT'))) \
	.select(	col('Outlet_Type') \
			,	col('SPLIT') \
			,	col('EXPLOSIN')) \
	.show(10)
#

+-----------------+--------------------+-----------+
|      Outlet_Type|               SPLIT|  EXPLOSIN|
+-----------------+--------------------+-----------+
|Supermarket Type1|[Supermarket, Type1]|Supermarket|
|Supermarket Type1|[Supermarket, Type1]|      Type1|
|Supermarket Type2|[Supermarket, Type2]|Supermarket|
|Supermarket Type2|[Supermarket, Type2]|      Type2|
|Supermarket Type1|[Supermarket, Type1]|Supermarket|
|Supermarket Type1|[Supermarket, Type1]|      Type1|
|    Grocery Store|    [Grocery, Store]|    Grocery|
|    Grocery Store|    [Grocery, Store]|      Store|
|Supermarket Type1|[Supermarket, Type1]|Supermarket|
|Supermarket Type1|[Supermarket, Type1]|      Type1|
+-----------------+--------------------+-----------+
only showing top 10 rows

### array_contains

In [ ]:
#
_csvDF002 \
	.withColumn('SPLIT', split(col('Outlet_Type'), ' ')) \
	.withColumn('CONTIENE?', array_contains(col('SPLIT'), 'Type1')) \
	.withColumn('FILTRO', filter(col('SPLIT'), lambda x: x == 'Grocery')) \
	.select(	col('Outlet_Type') \
			,	col('SPLIT') \
			,	col('FILTRO') \
			,	col('CONTIENE?')) \
	.show(10)
#

+-----------------+--------------------+---------+---------+
|      Outlet_Type|               SPLIT|   FILTRO|CONTIENE?|
+-----------------+--------------------+---------+---------+
|Supermarket Type1|[Supermarket, Type1]|       []|     true|
|Supermarket Type2|[Supermarket, Type2]|       []|    false|
|Supermarket Type1|[Supermarket, Type1]|       []|     true|
|    Grocery Store|    [Grocery, Store]|[Grocery]|    false|
|Supermarket Type1|[Supermarket, Type1]|       []|     true|
|Supermarket Type2|[Supermarket, Type2]|       []|    false|
|Supermarket Type1|[Supermarket, Type1]|       []|     true|
|Supermarket Type3|[Supermarket, Type3]|       []|    false|
|Supermarket Type1|[Supermarket, Type1]|       []|     true|
|Supermarket Type1|[Supermarket, Type1]|       []|     true|
+-----------------+--------------------+---------+---------+
only showing top 10 rows

### group by

In [ ]:
#
_formatAsSring = '%Y-%m-%d'
#
_tableFour = [
					(1,		'Gato',			'Caf',			datetime.strptime('2025-06-01', _formatAsSring),	1.2)
				,	(2,		'Perro',		'Negro',		datetime.strptime('2025-06-02', _formatAsSring),	1.5)
				,	(5,		'Ardilla',		'Caf',			datetime.strptime('2025-06-02', _formatAsSring),	3.0)
				,	(6,		'Pez',			'Anaranjado',	datetime.strptime('2025-06-01', _formatAsSring),	4.25)
				,	(7,		'Hipoptamo',	'Gris',			datetime.strptime('2025-06-01', _formatAsSring),	8.7)
				,	(8,		'Jirafa',		'Amarillo',		datetime.strptime('2025-06-03', _formatAsSring),	9.2)
				,	(9,		'Len',			'Amarillo',		datetime.strptime('2025-06-03', _formatAsSring),	10.2)
				,	(10,	'Elefante',		'Gris',			datetime.strptime('2025-06-03', _formatAsSring),	0.005)
				,	(13,	'Rata',			'Gris',			datetime.strptime('2025-06-03', _formatAsSring),	-2.8)
				,	(14,	'Caballo',		'Caf',			datetime.strptime('2025-06-01', _formatAsSring),	-2.2)
			]
_schemaTableFour = StructType([	\
								StructField('id',		IntegerType(),	True)	\
							,	StructField('name',		StringType(),	True)	\
							,	StructField('color',	StringType(),	True)	\
							,	StructField('date',		DateType(),		True)	\
							,	StructField('fraction',	DoubleType(),	True)	\
							])
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_dfTableFour.show()
#
_dfTableFour \
		.groupBy(
						col('color')
					,	col('date')
				) \
		.agg(
					collect_list(col('name')).alias('nombres') \
				,	sum(col('fraction')).alias('sumatoria') \
				,	min(col('id')).alias('min_id') \
				,	max(col('id')).alias('max_id') \
				,	count(col('id')).alias('count_id') \
			) \
		.show(truncate=False)
#

+---+----------+----------+----------+--------+
| id|      name|     color|      date|fraction|
+---+----------+----------+----------+--------+
|  1|      Gato|      Caf|2025-06-01|     1.2|
|  2|     Perro|     Negro|2025-06-02|     1.5|
|  5|   Ardilla|      Caf|2025-06-02|     3.0|
|  6|       Pez|Anaranjado|2025-06-01|    4.25|
|  7|Hipoptamo|      Gris|2025-06-01|     8.7|
|  8|    Jirafa|  Amarillo|2025-06-03|     9.2|
|  9|      Len|  Amarillo|2025-06-03|    10.2|
| 10|  Elefante|      Gris|2025-06-03|   0.005|
| 13|      Rata|      Gris|2025-06-03|    -2.8|
| 14|   Caballo|      Caf|2025-06-01|    -2.2|
+---+----------+----------+----------+--------+

+----------+----------+----------------+-------------------+------+------+--------+
|color     |date      |nombres         |sumatoria          |min_id|max_id|count_id|
+----------+----------+----------------+-------------------+------+------+--------+
|Anaranjado|2025-06-01|[Pez]           |4.25               |6     |6     |1       |
|Gris      |2025-06-01|[Hipoptamo]    |8.7                |7     |7     |1       |
|Gris      |2025-06-03|[Elefante, Rata]|-2.795             |10    |13    |2       |
|Caf      |2025-06-01|[Gato, Caballo] |-1.0000000000000002|1     |14    |2       |
|Amarillo  |2025-06-03|[Jirafa, Len]  |19.4               |8     |9     |2       |
|Negro     |2025-06-02|[Perro]         |1.5                |2     |2     |1       |
|Caf      |2025-06-02|[Ardilla]       |3.0                |5     |5     |1       |
+----------+----------+----------------+-------------------+------+------+--------+

### collect_list

In [94]:
#
_formatAsSring = '%Y-%m-%d'
#
_tableFour = [
					(1,		'Gato',			'Caf',			datetime.strptime('2025-06-01', _formatAsSring),	1.2)
				,	(2,		'Perro',		'Negro',		datetime.strptime('2025-06-02', _formatAsSring),	1.5)
				,	(5,		'Ardilla',		'Caf',			datetime.strptime('2025-06-02', _formatAsSring),	3.0)
				,	(6,		'Pez',			'Anaranjado',	datetime.strptime('2025-06-01', _formatAsSring),	4.25)
				,	(7,		'Hipoptamo',	'Gris',			datetime.strptime('2025-06-01', _formatAsSring),	8.7)
				,	(8,		'Jirafa',		'Amarillo',		datetime.strptime('2025-06-03', _formatAsSring),	9.2)
				,	(9,		'Len',			'Amarillo',		datetime.strptime('2025-06-03', _formatAsSring),	10.2)
				,	(10,	'Elefante',		'Gris',			datetime.strptime('2025-06-03', _formatAsSring),	0.005)
				,	(13,	'Rata',			'Gris',			datetime.strptime('2025-06-03', _formatAsSring),	-2.8)
				,	(14,	'Caballo',		'Caf',			datetime.strptime('2025-06-01', _formatAsSring),	-2.2)
			]
_schemaTableFour = StructType([	\
								StructField('id',		IntegerType(),	True)	\
							,	StructField('name',		StringType(),	True)	\
							,	StructField('color',	StringType(),	True)	\
							,	StructField('date',		DateType(),		True)	\
							,	StructField('fraction',	DoubleType(),	True)	\
							])
_dfTableFour = _spark.createDataFrame(_tableFour, _schemaTableFour)
#
_dfTableFour.show(truncate=False)
#
_dfTableFour \
		.groupBy(
					col('color')
				) \
		.agg(
				collect_list(col('name')).alias('nombres_en_lista') \
			) \
		.show(truncate=False)
#

+---+----------+----------+----------+--------+
|id |name      |color     |date      |fraction|
+---+----------+----------+----------+--------+
|1  |Gato      |Caf      |2025-06-01|1.2     |
|2  |Perro     |Negro     |2025-06-02|1.5     |
|5  |Ardilla   |Caf      |2025-06-02|3.0     |
|6  |Pez       |Anaranjado|2025-06-01|4.25    |
|7  |Hipoptamo|Gris      |2025-06-01|8.7     |
|8  |Jirafa    |Amarillo  |2025-06-03|9.2     |
|9  |Len      |Amarillo  |2025-06-03|10.2    |
|10 |Elefante  |Gris      |2025-06-03|0.005   |
|13 |Rata      |Gris      |2025-06-03|-2.8    |
|14 |Caballo   |Caf      |2025-06-01|-2.2    |
+---+----------+----------+----------+--------+

+----------+----------------------------+
|color     |nombres_en_lista            |
+----------+----------------------------+
|Negro     |[Perro]                     |
|Caf      |[Gato, Ardilla, Caballo]    |
|Anaranjado|[Pez]                       |
|Amarillo  |[Jirafa, Len]              |
|Gris      |[Hipoptamo, Elefante, Rata]|
+----------+----------------------------+

### PIVOT

In [95]:
#
_dfTableFour.show()
#
#define multiple new rows to add
_new_animal_rows = \
	_spark.createDataFrame( \
						[	(15,'Gato','Caf',datetime.strptime('2025-06-03',_formatAsSring),10.0) \
						,	(16,'Ardilla','Caf',datetime.strptime('2025-06-04',_formatAsSring),20.0)] \
					,	_schemaTableFour)
#add new rows to DataFrame
_dfTableFour = _dfTableFour.union(_new_animal_rows)
#
_dfTableFour \
		.groupBy(
					col('name')
				) \
		.pivot( \
				'color'
				) \
		.agg(		count(col('id')).alias('Total')
				,	min(col('id')).alias('FirstId')
			) \
		.show(truncate=False)
#

+---+----------+----------+----------+--------+
| id|      name|     color|      date|fraction|
+---+----------+----------+----------+--------+
|  1|      Gato|      Caf|2025-06-01|     1.2|
|  2|     Perro|     Negro|2025-06-02|     1.5|
|  5|   Ardilla|      Caf|2025-06-02|     3.0|
|  6|       Pez|Anaranjado|2025-06-01|    4.25|
|  7|Hipoptamo|      Gris|2025-06-01|     8.7|
|  8|    Jirafa|  Amarillo|2025-06-03|     9.2|
|  9|      Len|  Amarillo|2025-06-03|    10.2|
| 10|  Elefante|      Gris|2025-06-03|   0.005|
| 13|      Rata|      Gris|2025-06-03|    -2.8|
| 14|   Caballo|      Caf|2025-06-01|    -2.2|
+---+----------+----------+----------+--------+

+----------+--------------+----------------+----------------+------------------+----------+------------+----------+------------+-----------+-------------+
|name      |Amarillo_Total|Amarillo_FirstId|Anaranjado_Total|Anaranjado_FirstId|Caf_Total|Caf_FirstId|Gris_Total|Gris_FirstId|Negro_Total|Negro_FirstId|
+----------+--------------+----------------+----------------+------------------+----------+------------+----------+------------+-----------+-------------+
|Caballo   |NULL          |NULL            |NULL            |NULL              |1         |14          |NULL      |NULL        |NULL       |NULL         |
|Perro     |NULL          |NULL            |NULL            |NULL              |NULL      |NULL        |NULL      |NULL        |1          |2            |
|Pez       |NULL          |NULL            |1               |6                 |NULL      |NULL        |NULL      |NULL        |NULL       |NULL         |
|Jirafa    |1             |8               |NULL            |NULL              |NULL      |NULL        |NULL      |NULL        |NULL       |NULL         |
|Hipoptamo|NULL          |NULL            |NULL            |NULL              |NULL      |NULL        |1         |7           |NULL       |NULL         |
|Elefante  |NULL          |NULL            |NULL            |NULL              |NULL      |NULL        |1         |10          |NULL       |NULL         |
|Gato      |NULL          |NULL            |NULL            |NULL              |2         |1           |NULL      |NULL        |NULL       |NULL         |
|Len      |1             |9               |NULL            |NULL              |NULL      |NULL        |NULL      |NULL        |NULL       |NULL         |
|Rata      |NULL          |NULL            |NULL            |NULL              |NULL      |NULL        |1         |13          |NULL       |NULL         |
|Ardilla   |NULL          |NULL            |NULL            |NULL              |2         |5           |NULL      |NULL        |NULL       |NULL         |
+----------+--------------+----------------+----------------+------------------+----------+------------+----------+------------+-----------+-------------+

### when - otherwise

In [96]:
#
_dfTableFour \
		.withColumn(	'Color-English'
					,	when(col('color')=='Caf', 'Brown') \
						.when(col('color')=='Amarillo','Yellow') \
						.otherwise(None)) \
		.withColumn(	'Negative?'
					,	when(((col('color') == 'Gris') | (col('color') == 'Caf')) & (col('fraction') <= 0.0), True) \
						.otherwise(None).cast(BooleanType())) \
		.select(		col('id')
					,	col('fraction') \
					,	col('name')
					,	col('color')
					,	col('Color-English')
					,	col('Negative?')) \
		.show(truncate=False)
#

+---+--------+----------+----------+-------------+---------+
|id |fraction|name      |color     |Color-English|Negative?|
+---+--------+----------+----------+-------------+---------+
|1  |1.2     |Gato      |Caf      |Brown        |NULL     |
|2  |1.5     |Perro     |Negro     |NULL         |NULL     |
|5  |3.0     |Ardilla   |Caf      |Brown        |NULL     |
|6  |4.25    |Pez       |Anaranjado|NULL         |NULL     |
|7  |8.7     |Hipoptamo|Gris      |NULL         |NULL     |
|8  |9.2     |Jirafa    |Amarillo  |Yellow       |NULL     |
|9  |10.2    |Len      |Amarillo  |Yellow       |NULL     |
|10 |0.005   |Elefante  |Gris      |NULL         |NULL     |
|13 |-2.8    |Rata      |Gris      |NULL         |true     |
|14 |-2.2    |Caballo   |Caf      |Brown        |true     |
|15 |10.0    |Gato      |Caf      |Brown        |NULL     |
|16 |20.0    |Ardilla   |Caf      |Brown        |NULL     |
+---+--------+----------+----------+-------------+---------+

### JOIN
* inner join
* left join
* right join
* full join
* <font color='dark-pink'>anti join</font>

In [97]:
#
_tableAnimals = [
					(1,		'Gato',			1,		101)
				,	(2,		'Perro',		2,		102)
				,	(3,		'Ardilla',		1,		103)
				,	(4,		'Pez',			3,		104)
				,	(5,		'Hipoptamo',	4,		105)
				,	(6,		'Jirafa',		5,		106)
				,	(7,		'Len',			5,		200)
				,	(8,		'Elefante',		4,		200)
				,	(9,		'Rata',			4,		-100)
				,	(10,	'Caballo',		1,		-100)
				,	(11,	'Guacamaya',	500,	100)
				,	(12,	'Perico',		500,	100)
				,	(13,	'Rata',			500,	50)
				,	(14,	'Rata',			0,		-100)
			]
_schemaTableAnimals = StructType([	\
									StructField('id',		IntegerType(),	True)	\
								,	StructField('name',		StringType(),	True)	\
								,	StructField('colorId',	StringType(),	True)	\
								,	StructField('fraccion',	IntegerType(),	True)	\
								])
#
_tableColors = [
					(1,	'Caf')
				,	(2,	'Negro')
				,	(3,	'Anaranjado')
				,	(4,	'Gris')
				,	(5,	'Amarillo')
				,   (6,	'Morado')
				,   (7,	'Rosa')
			]
_schemaTableColors = StructType([	\
									StructField('colorId',		IntegerType(),	True)	\
								,	StructField('colorName',	StringType(),	True)	\
								])
#
_dfTableAnimals = _spark.createDataFrame(_tableAnimals, _schemaTableAnimals)
_dfTableColors = _spark.createDataFrame(_tableColors, _schemaTableColors)
#
_tableNumbers = [
					(100,	'Cien')
				,	(200,	'DosCientos')
				,	(-100,	'MenosCien')
			]
_schemaTableNumbers = StructType([	\
									StructField('fraccion',	IntegerType(),	True)	\
								,	StructField('valor',	StringType(),	True)	\
								])
#
_dfTableNumbers = _spark.createDataFrame(_tableNumbers, _schemaTableNumbers)
#

### inner join

In [98]:
_dfTableAnimals \
			.join(		_dfTableColors \
					,	_dfTableAnimals['colorId'] == _dfTableColors['colorId']) \
			.select(	col('id')
					,	col('name')
					,	col('colorName')
					) \
			.show(truncate=False)

+---+----------+----------+
|id |name      |colorName |
+---+----------+----------+
|1  |Gato      |Caf      |
|3  |Ardilla   |Caf      |
|10 |Caballo   |Caf      |
|2  |Perro     |Negro     |
|4  |Pez       |Anaranjado|
|5  |Hipoptamo|Gris      |
|8  |Elefante  |Gris      |
|9  |Rata      |Gris      |
|6  |Jirafa    |Amarillo  |
|7  |Len      |Amarillo  |
+---+----------+----------+

### how : *optional*

default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``, ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``, ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``, ``anti``, ``leftanti`` and ``left_anti``.

In [99]:
_dfTableAnimals \
			.join(		_dfTableColors \
					,	_dfTableAnimals['colorId'] == _dfTableColors['colorId']
					,	how='left') \
			.select(	col('id')
					,	col('name')
					,	col('colorName')
					) \
			.show(truncate=False)

+---+----------+----------+
|id |name      |colorName |
+---+----------+----------+
|14 |Rata      |NULL      |
|6  |Jirafa    |Amarillo  |
|7  |Len      |Amarillo  |
|1  |Gato      |Caf      |
|3  |Ardilla   |Caf      |
|10 |Caballo   |Caf      |
|11 |Guacamaya |NULL      |
|12 |Perico    |NULL      |
|13 |Rata      |NULL      |
|4  |Pez       |Anaranjado|
|2  |Perro     |Negro     |
|5  |Hipoptamo|Gris      |
|8  |Elefante  |Gris      |
|9  |Rata      |Gris      |
+---+----------+----------+

In [ ]:
#
#_dfTableAnimals.show(truncate=False)
#
#_dfTableNumbers.show(truncate=False)
#
_dfTableAnimals \
			.join(		_dfTableNumbers \
					,	(_dfTableAnimals['fraccion'] == _dfTableNumbers['fraccion'])
						& (isnull(_dfTableAnimals['fraccion']) == False)
						& (isnull(_dfTableNumbers['fraccion']) == False)
					,	how='anti') \
			.show(truncate=False)
# 
#

+---+----------+-------+--------+
|id |name      |colorId|fraccion|
+---+----------+-------+--------+
|1  |Gato      |1      |101     |
|3  |Ardilla   |1      |103     |
|2  |Perro     |2      |102     |
|13 |Rata      |500    |50      |
|5  |Hipoptamo|4      |105     |
|6  |Jirafa    |5      |106     |
|4  |Pez       |3      |104     |
+---+----------+-------+--------+

### row_number()

In [112]:
from pyspark.sql import Window
#
_dfTableAnimals \
 			.withColumn('RowNumber', row_number().over(Window.orderBy(col('name').asc()))) \
			.show(truncate=False)
#

+---+----------+-------+--------+---------+
|id |name      |colorId|fraccion|RowNumber|
+---+----------+-------+--------+---------+
|3  |Ardilla   |1      |103     |1        |
|10 |Caballo   |1      |-100    |2        |
|8  |Elefante  |4      |200     |3        |
|1  |Gato      |1      |101     |4        |
|11 |Guacamaya |500    |100     |5        |
|5  |Hipoptamo|4      |105     |6        |
|6  |Jirafa    |5      |106     |7        |
|7  |Len      |5      |200     |8        |
|12 |Perico    |500    |100     |9        |
|2  |Perro     |2      |102     |10       |
|4  |Pez       |3      |104     |11       |
|9  |Rata      |4      |-100    |12       |
|13 |Rata      |500    |50      |13       |
|14 |Rata      |0      |-100    |14       |
+---+----------+-------+--------+---------+

### rank() / dense_rank()

In [122]:
from pyspark.sql import Window
#
_dfTableAnimals \
 			.withColumn('RowNumber',	row_number().over(Window.orderBy(col('colorId').desc()))) \
			.withColumn('Rank',			rank().over(Window.orderBy(col('colorId').desc()))) \
			.withColumn('DenseRank',	dense_rank().over(Window.orderBy(col('colorId').desc()))) \
			.select(	col('id')
					,	col('name')
					,	col('colorId')
					,	col('RowNumber')
					,	col('Rank')
					,	col('DenseRank')
					,	col('fraccion')
					) \
			.show(truncate=False)
#

+---+----------+-------+---------+----+---------+--------+
|id |name      |colorId|RowNumber|Rank|DenseRank|fraccion|
+---+----------+-------+---------+----+---------+--------+
|11 |Guacamaya |500    |1        |1   |1        |100     |
|12 |Perico    |500    |2        |1   |1        |100     |
|13 |Rata      |500    |3        |1   |1        |50      |
|6  |Jirafa    |5      |4        |4   |2        |106     |
|7  |Len      |5      |5        |4   |2        |200     |
|5  |Hipoptamo|4      |6        |6   |3        |105     |
|8  |Elefante  |4      |7        |6   |3        |200     |
|9  |Rata      |4      |8        |6   |3        |-100    |
|4  |Pez       |3      |9        |9   |4        |104     |
|2  |Perro     |2      |10       |10  |5        |102     |
|1  |Gato      |1      |11       |11  |6        |101     |
|3  |Ardilla   |1      |12       |11  |6        |103     |
|10 |Caballo   |1      |13       |11  |6        |-100    |
|14 |Rata      |0      |14       |14  |7        |-100    |
+---+----------+-------+---------+----+---------+--------+

###  (cumulative sum)

In [ ]:
from pyspark.sql import Window
from pyspark.sql import functions
#
_partitionBy = (Window.partitionBy(col('colorId')).orderBy(col('id')))
_dfTableAnimals \
 			.withColumn('CumSumByColorIdAsc', sum(col('fraccion')).over(_partitionBy)) \
			.withColumn('CumSumByColorIdDesc', sum(col('fraccion')).over(Window.partitionBy(col('colorId')).orderBy(desc(col('id'))))) \
			.orderBy(	col('colorId').asc()
					,	col('id').asc()) \
			.show(truncate=False)
#

+---+----------+-------+--------+------------------+-------------------+
|id |name      |colorId|fraccion|CumSumByColorIdAsc|CumSumByColorIdDesc|
+---+----------+-------+--------+------------------+-------------------+
|14 |Rata      |0      |-100    |-100              |-100               |
|1  |Gato      |1      |101     |101               |104                |
|3  |Ardilla   |1      |103     |204               |3                  |
|10 |Caballo   |1      |-100    |104               |-100               |
|2  |Perro     |2      |102     |102               |102                |
|4  |Pez       |3      |104     |104               |104                |
|5  |Hipoptamo|4      |105     |105               |205                |
|8  |Elefante  |4      |200     |305               |100                |
|9  |Rata      |4      |-100    |205               |-100               |
|6  |Jirafa    |5      |106     |106               |306                |
|7  |Len      |5      |200     |306               |200                |
|11 |Guacamaya |500    |100     |100               |250                |
|12 |Perico    |500    |100     |200               |150                |
|13 |Rata      |500    |50      |250               |50                 |
+---+----------+-------+--------+------------------+-------------------+

In [114]:
###  .rowsBetween(Window.unboundedPreceding, Window.currentRow)
from pyspark.sql import Window
from pyspark.sql import functions
#
_dfTableAnimals \
			.withColumn('CumSumByColorIdAscRowPerRow', sum(col('fraccion')).over(Window.partitionBy(col('colorId')).rowsBetween(Window.unboundedPreceding, Window.currentRow).orderBy(asc(col('id'))))) \
			.withColumn('TotalSumByColorIdAllRows', sum(col('fraccion')).over(Window.partitionBy(col('colorId')).rowsBetween(Window.unboundedPreceding, Window.unboundedFollowing))) \
			.orderBy(	col('colorId').asc()
					,	col('id').asc()) \
			.show(truncate=False)
#

+---+----------+-------+--------+---------------------------+------------------------+
|id |name      |colorId|fraccion|CumSumByColorIdAscRowPerRow|TotalSumByColorIdAllRows|
+---+----------+-------+--------+---------------------------+------------------------+
|14 |Rata      |0      |-100    |-100                       |-100                    |
|1  |Gato      |1      |101     |101                        |104                     |
|3  |Ardilla   |1      |103     |204                        |104                     |
|10 |Caballo   |1      |-100    |104                        |104                     |
|2  |Perro     |2      |102     |102                        |102                     |
|4  |Pez       |3      |104     |104                        |104                     |
|5  |Hipoptamo|4      |105     |105                        |205                     |
|8  |Elefante  |4      |200     |305                        |205                     |
|9  |Rata      |4      |-100    |205                        |205                     |
|6  |Jirafa    |5      |106     |106                        |306                     |
|7  |Len      |5      |200     |306                        |306                     |
|11 |Guacamaya |500    |100     |100                        |250                     |
|12 |Perico    |500    |100     |200                        |250                     |
|13 |Rata      |500    |50      |250                        |250                     |
+---+----------+-------+--------+---------------------------+------------------------+

### User Defined Functions

In [115]:
#
def my_square(column_value):
	return column_value**2
#
my_square_udf = udf(my_square)
#
def reemplaza(column:int, value:int):
	return when(column != value, column).otherwise(lit(None))
#
_dfTableAnimals \
	.withColumn('Square', my_square_udf(col('colorId').cast(IntegerType()))) \
	.withColumn('Remueve500', reemplaza(col('colorId').cast(IntegerType()), 500)) \
	.show(truncate=False)
#

+---+----------+-------+--------+------+----------+
|id |name      |colorId|fraccion|Square|Remueve500|
+---+----------+-------+--------+------+----------+
|1  |Gato      |1      |101     |1     |1         |
|2  |Perro     |2      |102     |4     |2         |
|3  |Ardilla   |1      |103     |1     |1         |
|4  |Pez       |3      |104     |9     |3         |
|5  |Hipoptamo|4      |105     |16    |4         |
|6  |Jirafa    |5      |106     |25    |5         |
|7  |Len      |5      |200     |25    |5         |
|8  |Elefante  |4      |200     |16    |4         |
|9  |Rata      |4      |-100    |16    |4         |
|10 |Caballo   |1      |-100    |1     |1         |
|11 |Guacamaya |500    |100     |250000|NULL      |
|12 |Perico    |500    |100     |250000|NULL      |
|13 |Rata      |500    |50      |250000|NULL      |
|14 |Rata      |0      |-100    |0     |0         |
+---+----------+-------+--------+------+----------+

### data writing :arrow_right: *Serving Layer*

In [126]:
#
_path = 'file:///C:/Users/Administrator/Documents/Code/Python/Spark/BigMart.Sales.010'
#
_newDataFrame_fromSelect010 \
			.write \
			.format('csv') \
			.mode('overwrite') \
			.option('header',True) \
			.options(header='true',sep=',') \
			.partitionBy('Outlet_Establishment_Year') \
			.save('{0}.{1}'.format(_path, 'csv'))
#

### data writing modes

* Append
* Overwrite
* Error
* Ignore

## File Formats and Data Sources in PySpark

### Common File Formats in PySpark
------------------------------

PySpark supports multiple file formats such as **CSV**, **JSON**, **Parquet**, **ORC**, and **Avro.**

1\. CSV (Comma-Separated Values)
--------------------------------

CSV is one of the simplest and most widely used formats to store tabular data. Each row in a CSV file represents a record, and each value within a row is separated by a delimiter, usually a comma.

**Advantages of CSV**:

*   Simple and human-readable.
*   Common format for data interchange and is easy to use in many applications.
*   Supported by almost all data systems.

**Disadvantages**:

*   Lack of schema (data types are inferred).
*   Poor performance on large datasets due to the lack of optimization.
*   No support for complex data types like nested structures.

**Reading CSV Files in PySpark**:

``` python
from pyspark.sql import SparkSession
# Initialize Spark Session
spark = SparkSession.builder.appName("FileFormats").getOrCreate()
# Read CSV file
csv_df = spark.read.csv("path/to/file.csv", header=True, inferSchema=True)
csv_df.show()
```

**Writing CSV Files in PySpark**:

``` python
df.write.csv("output/sample_output.csv", header=True)
```


2\. JSON (JavaScript Object Notation)
-------------------------------------

JSON is a popular format for exchanging data between web applications. It is a lightweight, text-based format that stores data in a key-value pair structure, making it ideal for representing complex data.

**Advantages of JSON**:

*   Supports complex data types like arrays and nested objects.
*   Human-readable and widely used in web services.

**Disadvantages**:

*   Slower read and write performance compared to optimized formats like Parquet.
*   Inefficient for large datasets.

**Reading JSON Files in PySpark**:

``` python
# Load JSON file into DataFrame
df_json = spark.read.json("data/sample.json")
# Show data
df_json.show()
```

**Writing JSON Files in PySpark**:

``` python
df_json.write.json("output/sample_output.json")
```

3\. Parquet
-----------

Parquet is a columnar storage file format designed to bring efficiency compared to row-based formats like CSV. It is highly optimized for large-scale data processing and analytics, supporting complex nested data types.

**Advantages of Parquet**:

*   Columnar format, which allows for better compression and more efficient querying.
*   Ideal for large-scale analytics and data pipelines.
*   Supports schema evolution and is highly efficient for big data workloads.

**Disadvantages of Parquet**:

*   Less human-readable than CSV or JSON.
*   Might require additional tooling or libraries for processing outside of Spark.

**Reading Parquet Files in PySpark**:

``` python
# Load Parquet file into DataFrame
df_parquet = spark.read.parquet("data/sample.parquet")
df_parquet.show()
```

**Writing Parquet Files in PySpark**:

``` python
df.write.parquet("output/sample_output.parquet")
```

4\. ORC (Optimized Row Columnar)
--------------------------------

ORC is another columnar storage format, primarily used in the Hadoop ecosystem. It offers higher compression ratios and performance than Parquet in certain scenarios, especially when dealing with large-scale read-heavy operations.

**Advantages of ORC**:

*   Better compression and read performance compared to Parquet.
*   Optimized for Hive queries.

**Disadvantages of ORC**:

*   Less widely supported than Parquet outside the Hadoop ecosystem.
*   Not as suitable for complex nested data structures.

**Reading ORC Files in PySpark**:

``` python
# Load ORC file into DataFrame
df_orc = spark.read.format("orc").load("data/sample.orc")
df_orc.show()
```

**Writing ORC Files in PySpark**:

``` python
df.write.format("orc").save("output/sample_output.orc")
```

5\. Avro
--------

Avro is a compact, fast, binary data format that is commonly used for storing large-scale data in Hadoop ecosystems. It supports both schema evolution and nested data structures.

**Advantages of Avro**:

*   Compact and efficient binary format.
*   Supports schema evolution.
*   Ideal for high-volume data ingestion and streaming applications.

**Disadvantages of Avro**:

*   Binary format, so not human-readable.
*   Can be slower for simple, small datasets compared to CSV or JSON.

**Reading Avro Files in PySpark**:

``` python
# Load Avro file into DataFrame
df_avro = spark.read.format("avro").load("data/sample.avro")
df_avro.show()
```

**Writing Avro Files in PySpark**:

``` python
df_avro.write.format("avro").save("output/sample_output.avro")
```

Integration with Data Sources
-----------------------------

PySpark seamlessly connects to a variety of data sources:

1.  **HDFS (Hadoop Distributed File System):** Common for storing distributed data in big data ecosystems.

**Example:**

``` python
hdfs_df = spark.read.csv("hdfs://namenode:9000/path/to/file.csv")
```

2\. **Amazon S3:** Widely used cloud storage for data lakes.

**Example:**

``` python
s3_df = spark.read.parquet("s3://bucket-name/path/to/file.parquet")
```

**3\. JDBC (Relational Databases):** Supports databases like MySQL, Postgres, and SQL Server.

**Example:**

``` python
jdbc_url = "jdbc:postgresql://host:port/database"
properties = {"user": "username", "password": "password"}
jdbc_df = spark.read.jdbc(jdbc_url, "table_name", properties=properties)
```

**4\. Kafka:** Used for real-time data streaming.

**Example:**

``` python
kafka_df = spark.readStream \
    .format("kafka") \
    .option("kafka.bootstrap.servers", "localhost:9092") \
    .option("subscribe", "topic_name") \
    .load()
```

Best Practices for File Handling
--------------------------------

1.  **Compression:**  
    Use Snappy or Gzip for Parquet and ORC to save storage and speed up reads.
2.  **Schema Management:**  
    Explicitly define schemas to avoid issues with schema inference.
3.  **Partitioning:**  
    Partition data for distributed processing.

### CREATE TABLE FORMAT

In [117]:
#
_path = 'file:///C:/Users/Administrator/Documents/Code/Python/Spark/spark-warehouse/'
#
_newDataFrame_fromSelect010 \
			.write \
			.option('header',True) \
			.partitionBy('Outlet_Establishment_Year') \
			.saveAsTable(	\
							'BigMart_Sales_010_As_Table'	\
						,	path	=	_path	\
						,	format	=	'parquet'	\
						,	mode	=	'overwrite')
#
# ## .option('path','s3a://bucket/foo') \
#

### TODO : Managed *(managed by Databricks)* vs External Tables *(managed by by You/Engineer)*

<hr>

# Spark SQL

In [118]:
#
### let's convert the data-frame into a view before making a query
### , all temporary views will be eliminated after session completed
#
## ## _newDataFrame_fromSelect010.createTempView('__newDataView_fromSelect010')
_newDataFrame_fromSelect010.createOrReplaceTempView('__newDataView_fromSelect010')
#

In [119]:
#
_resultsAsSQL_DataFrame = _spark.sql('SELECT * FROM __newDataView_fromSelect010 LIMIT 15')
#
_resultsAsSQL_DataFrame.show(truncate=False)
#

+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type            |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|FDA15          |9.3        |Low Fat         |0.016047301    |Dairy                |249.8092|OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|3735.138         |
|DRC01          |5.92       |Regular         |0.019278216    |Soft Drinks          |48.2692 |OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|443.4228         |
|FDN15          |17.5       |Low Fat         |0.016760075    |Meat                 |141.618 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|2097.27          |
|FDX07          |19.2       |Regular         |0.0            |Fruits and Vegetables|182.095 |OUT010           |1998                     |NULL       |Tier 3              |Grocery Store    |732.38           |
|NCD19          |8.93       |Low Fat         |0.0            |Household            |53.8614 |OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|994.7052         |
|FDP36          |10.395     |Regular         |0.0            |Baking Goods         |51.4008 |OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|556.6088         |
|FDO10          |13.65      |Regular         |0.012741089    |Snack Foods          |57.6588 |OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|343.5528         |
|FDP10          |NULL       |Low Fat         |0.127469857    |Snack Foods          |107.7622|OUT027           |1985                     |Medium     |Tier 3              |Supermarket Type3|4022.7636        |
|FDH17          |16.2       |Regular         |0.016687114    |Frozen Foods         |96.9726 |OUT045           |2002                     |NULL       |Tier 2              |Supermarket Type1|1076.5986        |
|FDU28          |19.2       |Regular         |0.09444959     |Frozen Foods         |187.8214|OUT017           |2007                     |NULL       |Tier 2              |Supermarket Type1|4710.535         |
|FDY07          |11.8       |Low Fat         |0.0            |Fruits and Vegetables|45.5402 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|1516.0266        |
|FDA03          |18.5       |Regular         |0.045463773    |Dairy                |144.1102|OUT046           |1997                     |Small      |Tier 1              |Supermarket Type1|2187.153         |
|FDX32          |15.1       |Regular         |0.1000135      |Fruits and Vegetables|145.4786|OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|1589.2646        |
|FDS46          |17.6       |Regular         |0.047257328    |Snack Foods          |119.6782|OUT046           |1997                     |Small      |Tier 1              |Supermarket Type1|2145.2076        |
|FDF32          |16.35      |Low Fat         |0.0680243      |Fruits and Vegetables|196.4426|OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|1977.426         |
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+