In [ ]:
### https://www.youtube.com/watch?v=njE89SwtPYI&t=02h33m33s

In [ ]:
#
# Set-ExecutionPolicy Bypass -Scope Process
#
import pyspark
from delta import configure_spark_with_delta_pip
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
#
#
#### _spark = SparkSession.builder.master('local[1]').getOrCreate()
#
#
#				.config(	'spark.sql.catalog.spark_catalog'
#						,	'io.unitycatalog.spark.UCSingleCatalog') \
#				.config(	'spark.sql.catalog.unity'
#						,	'io.unitycatalog.spark.UCSingleCatalog') \
#				.config(	'spark.sql.defaultCatalog'
#						,	'unity') \
#				.config(	'spark.sql.catalog.unity.uri'
#						,	'http://localhost:4041') \
#
_builder =	(	SparkSession.builder.master('local[1]') \
				.appName('pyspark-deltalake-local-testing') \
				.config(	'spark.sql.extensions'
						,	'io.delta.sql.DeltaSparkSessionExtension')
				.config(	'spark.sql.catalog.spark_catalog'
						,	'org.apache.spark.sql.delta.catalog.DeltaCatalog'))
#
_spark = configure_spark_with_delta_pip(_builder).enableHiveSupport().getOrCreate()
#
#
#
### READ
_demoDataFrame = _spark.read \
	.option('inferSchema', True) \
	.option('header',True) \
	.format('parquet') \
	.load('file:///C:/Users/Administrator/Documents/Code/Python/PySpark/demo.parquet')
#
_demoDataFrame.show(10, truncate=False)
#

+---------+---------+--------+--------+----------+-------+---+-----+----+-------------+------------------------------------+--------------+----------+
|Branch_ID|Dealer_ID|Model_ID|Revenue |Units_Sold|Date_ID|Day|Month|Year|BranchName   |DealerName                          |model_category|RevPerUnit|
+---------+---------+--------+--------+----------+-------+---+-----+----+-------------+------------------------------------+--------------+----------+
|BR0074   |DLR0215  |Toy-M195|3163004 |2         |DT00045|19 |1    |2017|Anadol Motors|Wanderer Motors                     |Toy           |1581502.0 |
|BR0075   |DLR0195  |Mah-M165|21878175|3         |DT00046|23 |9    |2017|Anadol Motors|Tornado Motors                      |Mah           |7292725.0 |
|BR0077   |DLR0155  |Toy-M105|9867107 |1         |DT00046|31 |8    |2017|Anadol Motors|Piaggio Motors                      |Toy           |9867107.0 |
|BR0078   |DLR0135  |Hyu-M75 |4583883 |3         |DT00047|5  |5    |2017|Anadol Motors|Morgan Motors                       |Hyu           |1527961.0 |
|BR0080   |DLR0095  |Ram-M15 |14383990|2         |DT00048|11 |9    |2017|Anadol Motors|Isuzu Motors                        |Ram           |7191995.0 |
|BR0081   |DLR0009  |Dod-M9  |24665256|3         |DT00048|9  |1    |2017|Ariel Motors |Ariel Motors                        |Dod           |8221752.0 |
|BR0081   |DLR0076  |Nis-M263|2354637 |3         |DT00049|16 |5    |2017|Ariel Motors |Healey Motors                       |Nis           |784879.0  |
|BR0082   |DLR0256  |Vol-M256|2563134 |3         |DT00049|13 |9    |2017|Ariel Motors |Ariel Motors                        |Vol           |854378.0  |
|BR0083   |DLR0236  |For-M226|5756780 |1         |DT00050|18 |5    |2017|Ariel Motors |Cadillac Automobile Company Building|For           |5756780.0 |
|BR0084   |DLR0216  |Toy-M196|4317585 |1         |DT00050|20 |1    |2017|Ariel Motors |Maybach  Motors                     |Toy           |4317585.0 |
+---------+---------+--------+--------+----------+-------+---+-----+----+-------------+------------------------------------+--------------+----------+
only showing top 10 rows

In [2]:
_spark

In [ ]:
#
## ## drop if require to delete from catalog
#_query = 'DROP TABLE CarDealers'
#_spark.sql(_query)
#

DataFrame[]

In [4]:
#
### WRITE as TABLE-DELTA
#
_path = 'file:///C:/Users/Administrator/Documents/Code/Python/PySpark/MyDeltaLake/CarDealers/'
#
_demoDataFrame.write \
				.mode('overwrite') \
				.format('delta') \
				.option('path',_path) \
				.saveAsTable(	\
								'CarDealers'	\
							,	path	=	_path
							,	format	=	'delta'	\
							,	mode	=	'overwrite')
#
"""
%sql
CREATE TABLE db_catalog_name.db_catalog_schema_name.CarDealers
USING DELTA
LOCATION 'abfss://destination_name@db_locationDataLake_name.dbfs.core.windows.net/parquetDataFolderName'
"""
#

"\n%sql\nCREATE TABLE db_catalog_name.db_catalog_schema_name.CarDealers\nUSING DELTA\nLOCATION 'abfss://destination_name@db_locationDataLake_name.dbfs.core.windows.net/parquetDataFolderName'\n"

In [5]:
#
_resultsAsSQL_DataFrame = _spark.sql('DESCRIBE EXTENDED CarDealers')
#
_resultsAsSQL_DataFrame.show(truncate=False)
#

+----------------------------+---------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                        |comment|
+----------------------------+---------------------------------------------------------------------------------+-------+
|Branch_ID                   |string                                                                           |NULL   |
|Dealer_ID                   |string                                                                           |NULL   |
|Model_ID                    |string                                                                           |NULL   |
|Revenue                     |bigint                                                                           |NULL   |
|Units_Sold                  |bigint                                                                           |NULL   |
|Date_ID                     |string                                                                           |NULL   |
|Day                         |int                                                                              |NULL   |
|Month                       |int                                                                              |NULL   |
|Year                        |int                                                                              |NULL   |
|BranchName                  |string                                                                           |NULL   |
|DealerName                  |string                                                                           |NULL   |
|model_category              |string                                                                           |NULL   |
|RevPerUnit                  |double                                                                           |NULL   |
|                            |                                                                                 |       |
|# Detailed Table Information|                                                                                 |       |
|Name                        |spark_catalog.default.cardealers                                                 |       |
|Type                        |EXTERNAL                                                                         |       |
|Location                    |file:/C:/Users/Administrator/Documents/Code/Python/PySpark/MyDeltaLake/CarDealers|       |
|Provider                    |delta                                                                            |       |
|Owner                       |Administrator                                                                    |       |
+----------------------------+---------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [9]:
#
_resultsAsSQL_DataFrame = _spark.sql('DESCRIBE DETAIL CarDealers')
#
_resultsAsSQL_DataFrame.show(truncate=False)
#

+------+------------------------------------+--------------------------------+-----------+---------------------------------------------------------------------------------+-----------------------+-----------------------+----------------+-----------------+--------+-----------+----------+----------------+----------------+------------------------+
|format|id                                  |name                            |description|location                                                                         |createdAt              |lastModified           |partitionColumns|clusteringColumns|numFiles|sizeInBytes|properties|minReaderVersion|minWriterVersion|tableFeatures           |
+------+------------------------------------+--------------------------------+-----------+---------------------------------------------------------------------------------+-----------------------+-----------------------+----------------+-----------------+--------+-----------+----------+----------------+----------------+------------------------+
|delta |83dbda18-8d8f-4eff-9b3a-edfb7968096a|spark_catalog.default.cardealers|NULL       |file:/C:/Users/Administrator/Documents/Code/Python/PySpark/MyDeltaLake/CarDealers|2025-07-29 13:47:57.279|2025-07-29 13:47:59.182|[]              |[]               |1       |61366      |{}        |1               |2               |[appendOnly, invariants]|
+------+------------------------------------+--------------------------------+-----------+---------------------------------------------------------------------------------+-----------------------+-----------------------+----------------+-----------------+--------+-----------+----------+----------------+----------------+------------------------+

In [6]:
#
_resultsAsSQL_DataFrame = _spark.sql('SELECT * FROM CarDealers ORDER BY Year DESC, Month DESC, Day DESC;')
#
_resultsAsSQL_DataFrame.show(10, truncate=False)
#

+---------+---------+--------+--------+----------+-------+---+-----+----+------------------------------------+------------------+--------------+----------+
|Branch_ID|Dealer_ID|Model_ID|Revenue |Units_Sold|Date_ID|Day|Month|Year|BranchName                          |DealerName        |model_category|RevPerUnit|
+---------+---------+--------+--------+----------+-------+---+-----+----+------------------------------------+------------------+--------------+----------+
|BR2353   |DLR0196  |Mah-M176|7236359 |1         |DT01136|31 |12   |2020|Cadillac Automobile Company Building|Toyota Motors     |Mah           |7236359.0 |
|BR2468   |DLR0107  |Cad-M37 |3108616 |1         |DT01185|30 |12   |2020|Kindel Building                     |Land Rover Motors |Cad           |3108616.0 |
|BR2323   |DLR0193  |Mah-M173|6271301 |1         |DT01119|28 |12   |2020|Blankinship Motor Company Building  |Tazzari Motors    |Mah           |6271301.0 |
|BR2448   |DLR0105  |Cad-M35 |4116309 |3         |DT01179|28 |12   |2020|Jennings Ford Automobile Dealership |Lamborghini Motors|Cad           |1372103.0 |
|BR2313   |DLR0192  |Mah-M172|4347531 |1         |DT01113|27 |12   |2020|2008 NRHP-listed                    |Tatra Motors      |Mah           |4347531.0 |
|BR2438   |DLR0104  |Cad-M34 |22956252|3         |DT01173|27 |12   |2020|Hupmobile Building                  |Lada Motors       |Cad           |7652084.0 |
|BR2428   |DLR0103  |Cad-M33 |18247482|3         |DT01169|26 |12   |2020|Howard Motor Company Building       |KTM Motors        |Cad           |6082494.0 |
|BR2303   |DLR0191  |Mah-M171|6380740 |2         |DT01109|26 |12   |2020|Atlantic Motor Company              |Tata Motors       |Mah           |3190370.0 |
|BR2293   |DLR0190  |Mah-M170|9632678 |1         |DT01105|25 |12   |2020|Zion Automobils                     |Suzuki Motors     |Mah           |9632678.0 |
|BR2283   |DLR0189  |Mah-M169|12791852|2         |DT01099|24 |12   |2020|Herald Motors                       |Sunbeam Motors    |Mah           |6395926.0 |
+---------+---------+--------+--------+----------+-------+---+-----+----+------------------------------------+------------------+--------------+----------+
only showing top 10 rows

In [7]:
_spark.catalog.getTable('CarDealers')

Table(name='CarDealers', catalog='spark_catalog', namespace=['default'], description=None, tableType='EXTERNAL', isTemporary=False)

In [8]:
_spark.catalog.currentCatalog()

'spark_catalog'

In [9]:
_spark.catalog.getDatabase('default')

Database(name='default', catalog='spark_catalog', description='Default Hive database', locationUri='file:/C:/Users/Administrator/Documents/Code/Python/PySpark/spark-warehouse')

In [10]:
_spark.catalog.getDatabase('default').locationUri

'file:/C:/Users/Administrator/Documents/Code/Python/PySpark/spark-warehouse'

### HOW QUERY DIRECTLY FROM DELTA FOLDER

In [11]:
#
_resultsAsSQL_DataFrame = _spark.sql('SELECT * FROM delta.`file:/C:/Users/Administrator/Documents/Code/Python/PySpark/MyDeltaLake/CarDealers`;')
#
_resultsAsSQL_DataFrame.show(10, truncate=False)
#

+---------+---------+--------+--------+----------+-------+---+-----+----+-------------+------------------------------------+--------------+----------+
|Branch_ID|Dealer_ID|Model_ID|Revenue |Units_Sold|Date_ID|Day|Month|Year|BranchName   |DealerName                          |model_category|RevPerUnit|
+---------+---------+--------+--------+----------+-------+---+-----+----+-------------+------------------------------------+--------------+----------+
|BR0074   |DLR0215  |Toy-M195|3163004 |2         |DT00045|19 |1    |2017|Anadol Motors|Wanderer Motors                     |Toy           |1581502.0 |
|BR0075   |DLR0195  |Mah-M165|21878175|3         |DT00046|23 |9    |2017|Anadol Motors|Tornado Motors                      |Mah           |7292725.0 |
|BR0077   |DLR0155  |Toy-M105|9867107 |1         |DT00046|31 |8    |2017|Anadol Motors|Piaggio Motors                      |Toy           |9867107.0 |
|BR0078   |DLR0135  |Hyu-M75 |4583883 |3         |DT00047|5  |5    |2017|Anadol Motors|Morgan Motors                       |Hyu           |1527961.0 |
|BR0080   |DLR0095  |Ram-M15 |14383990|2         |DT00048|11 |9    |2017|Anadol Motors|Isuzu Motors                        |Ram           |7191995.0 |
|BR0081   |DLR0009  |Dod-M9  |24665256|3         |DT00048|9  |1    |2017|Ariel Motors |Ariel Motors                        |Dod           |8221752.0 |
|BR0081   |DLR0076  |Nis-M263|2354637 |3         |DT00049|16 |5    |2017|Ariel Motors |Healey Motors                       |Nis           |784879.0  |
|BR0082   |DLR0256  |Vol-M256|2563134 |3         |DT00049|13 |9    |2017|Ariel Motors |Ariel Motors                        |Vol           |854378.0  |
|BR0083   |DLR0236  |For-M226|5756780 |1         |DT00050|18 |5    |2017|Ariel Motors |Cadillac Automobile Company Building|For           |5756780.0 |
|BR0084   |DLR0216  |Toy-M196|4317585 |1         |DT00050|20 |1    |2017|Ariel Motors |Maybach  Motors                     |Toy           |4317585.0 |
+---------+---------+--------+--------+----------+-------+---+-----+----+-------------+------------------------------------+--------------+----------+
only showing top 10 rows

# Unity Metastore (ADLS)
# |
## Catalog
# |
### DataBase
# |
#### Table

<!-- ![idempotency](https://thetightlycoupled.wordpress.com/wp-content/uploads/2020/02/idempotent.png "idempotency") -->
<img src="./resources/idempotent.png" alt="idempotency" width="400">

<br>

<img src="./resources/612ee17c-c597-4f53-bb3a-67eafb5f0e17_1080x994.png" alt="idempotency" height="500">
<!-- ![idempotency](./resources/612ee17c-c597-4f53-bb3a-67eafb5f0e17_1080x994.png "idempotency") -->

##
#### REF : https://medium.com/@riyukhandelwal/auto-loader-handling-incremental-etl-with-databricks-ae71687a281b
##
#### https://www.youtube.com/watch?v=njE89SwtPYI&t=02h33m33s
##

# Incrementally Loading Files:

```python
#
## .option('cloudFiles.schemaEvolutionMode','addNewColumns') <<<<< this is the default, which means that if you don't included, will take it exactly the same
#
## ref : https://docs.databricks.com/aws/en/ingestion/cloud-object-storage/auto-loader/schema
## ref : https://medium.com/@nivethanvenkat28/spark-structured-streaming-for-incremental-batch-processing-using-databricks-autoloader-48316b36973b
#
_autoLoadedDataFrameFromFile = _spark.readStream \
	.format('cloudFiles') \
	.option('cloudFiles.format','csv') \
	.option('cloudFiles.schemaLocation','file:///C:/Users/Administrator/Documents/Code/Python/PySpark/Autoloaded/Checkpoint/') \
	.option('cloudFiles.schemaEvolutionMode','addNewColumns') \
	.option('schemaHints',True) \
	.load('file:///C:/Users/Administrator/Documents/Code/Python/PySpark/Autoloaded/Raw/')
#
```

Auto Loader supports the following modes for schema evolution, which you set in the option `cloudFiles.schemaEvolutionMode`:

| Mode                     | Behavior on reading new column                                                                                                                                 |
|--------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `addNewColumns` (default) | Stream fails. New columns are added to the schema. Existing columns do not evolve data types.                                                                 |
| `rescue`                 | Schema is never evolved and <font color='red'>stream does not fail due to schema changes</font>. All new columns are recorded in the **rescued data column**.                    |
| `failOnNewColumns`       | Stream fails. Stream does not restart unless the provided schema is updated, or the offending data file is removed.                                            |
| `none`                   | Does not evolve the schema, new columns are ignored, and data is not rescued unless the `rescuedDataColumn` option is set. Stream does not fail due to schema changes. |

REF : https://docs.databricks.com/aws/en/ingestion/cloud-object-storage/auto-loader/schema

```python
#
_autoLoadedDataFrameFromFile.writeStream.format('delta) \
	.option('checkpointLocation','file:///C:/Users/Administrator/Documents/Code/Python/PySpark/Autoloaded/Checkpoint/') \
	.start('file:///C:/Users/Administrator/Documents/Code/Python/PySpark/Autoloaded/Data/')
#
```

#### otro youtuber que tiene cosas interesantes de Databricks:
#### REF : https://www.youtube.com/watch?v=-WyQh_ha3hI

# Volumes

In [19]:
#
print(_spark.catalog.currentCatalog())
print(_spark.catalog.getDatabase('default'))
print(_spark.catalog.getDatabase('default').locationUri)
#

spark_catalog
Database(name='default', catalog='spark_catalog', description='Default Hive database', locationUri='file:/C:/Users/Administrator/Documents/Code/Python/PySpark/spark-warehouse')
file:/C:/Users/Administrator/Documents/Code/Python/PySpark/spark-warehouse

In [20]:
#
from pyspark.sql import functions
#
_spark.range(1).select(functions.current_schema()).show()

+----------------+
|current_schema()|
+----------------+
|         default|
+----------------+

```python

#
## REF : https://docs.databricks.com/aws/en/sql/language-manual/sql-ref-volumes
#
_query = "CREATE EXTERNAL VOLUME IF NOT EXISTS spark_catalog.default.myExternalVolume COMMENT 'This is my example external volume' LOCATION 'file:///C:/Users/Administrator/Documents/Code/Python/PySpark/Volumes/'" ## file:///C:/Users/.../Volumes/parquet/
#
_spark.sql(sqlQuery=_query)
#

```

```python

#
## REF : https://docs.databricks.com/aws/en/sql/language-manual/sql-ref-volumes
#
_query = "SELECT * FROM parquet.'/Volumes/spark_catalog/default/myExternalVolume/parquet'
#
_spark.sql(sqlQuery=_query)
#

```

## Data Versioning & Time Travel

In [ ]:
#
## _query = 'DROP TABLE spark_catalog.default.myTimeTravelTable'
## _spark.sql(sqlQuery=_query)
#

DataFrame[]

In [18]:
_query = "CREATE TABLE IF NOT EXISTS spark_catalog.default.myTimeTravelTable (id INT, name STRING, salary FLOAT) USING DELTA LOCATION 'file:///C:/Users/Administrator/Documents/Code/Python/PySpark/TimeTravelTable'"
_spark.sql(sqlQuery=_query)

DataFrame[]

In [19]:
_query = """INSERT INTO spark_catalog.default.myTimeTravelTable VALUES (0,'a',0.1),(1,'b',0.2),(2,'c',0.3)"""
### print(_query)
_spark.sql(sqlQuery=_query)

DataFrame[]

In [20]:
_query = "DELETE FROM spark_catalog.default.myTimeTravelTable WHERE id = 0"
### print(_query)
_spark.sql(sqlQuery=_query)

DataFrame[num_affected_rows: bigint]

In [23]:
#
from pyspark.sql.functions import col
#
_query = "DESCRIBE HISTORY spark_catalog.default.myTimeTravelTable"
### print(_query)
_dfHistory = _spark.sql(sqlQuery=_query).sort(col('version').asc())
_dfHistory.show(500, truncate=False)
#

+-------+-----------------------+------+--------+------------+-----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                            |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                                            |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+-----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|0      |2025-07-30 12:46:43.993|NULL  |NULL    |CREATE TABLE|{partitionBy -> [], clusterBy -> [], description -> NULL, isManaged -> false, properties -> {}}|NULL|NULL    |NULL     |NULL       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                                          |NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
|1      |2025-07-30 12:46:52.776|NULL  |NULL    |WRITE       |{mode -> Append, partitionBy -> []}                                                            |NULL|NULL    |NULL     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 966}                                                                                                                                                                                                                                                                  |NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
|2      |2025-07-30 12:47:00.738|NULL  |NULL    |DELETE      |{predicate -> ["(id#443 = 0)"]}                                                                |NULL|NULL    |NULL     |1          |Serializable  |false        |{numRemovedFiles -> 1, numRemovedBytes -> 966, numCopiedRows -> 2, numDeletionVectorsAdded -> 0, executionTimeMs -> 2427, numDeletionVectorsUpdated -> 0, numAddedFiles -> 1, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, numDeletedRows -> 1, scanTimeMs -> 2233, numAddedBytes -> 953, rewriteTimeMs -> 192}|NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
+-------+-----------------------+------+--------+------------+-----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

In [25]:
_query = "RESTORE TABLE spark_catalog.default.myTimeTravelTable TO VERSION AS OF 1"
### print(_query)
_spark.sql(sqlQuery=_query)

DataFrame[table_size_after_restore: bigint, num_of_files_after_restore: bigint, num_removed_files: bigint, num_restored_files: bigint, removed_files_size: bigint, restored_files_size: bigint]

In [29]:
_query = "SELECT * FROM spark_catalog.default.myTimeTravelTable ORDER BY id ASC"
### print(_query)
_spark.sql(sqlQuery=_query).show(500, truncate=False)

+---+----+------+
|id |name|salary|
+---+----+------+
|0  |a   |0.1   |
|1  |b   |0.2   |
|2  |c   |0.3   |
+---+----+------+

In [30]:
#
from pyspark.sql.functions import col
#
_query = "DESCRIBE HISTORY spark_catalog.default.myTimeTravelTable"
### print(_query)
_dfHistory = _spark.sql(sqlQuery=_query).sort(col('version').asc())
_dfHistory.show(500, truncate=False)
#

+-------+-----------------------+------+--------+------------+-----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation   |operationParameters                                                                            |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                                                                                                                                                            |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+------------+-----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|0      |2025-07-30 12:46:43.993|NULL  |NULL    |CREATE TABLE|{partitionBy -> [], clusterBy -> [], description -> NULL, isManaged -> false, properties -> {}}|NULL|NULL    |NULL     |NULL       |Serializable  |true         |{}                                                                                                                                                                                                                                                                                                                          |NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
|1      |2025-07-30 12:46:52.776|NULL  |NULL    |WRITE       |{mode -> Append, partitionBy -> []}                                                            |NULL|NULL    |NULL     |0          |Serializable  |true         |{numFiles -> 1, numOutputRows -> 3, numOutputBytes -> 966}                                                                                                                                                                                                                                                                  |NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
|2      |2025-07-30 12:47:00.738|NULL  |NULL    |DELETE      |{predicate -> ["(id#443 = 0)"]}                                                                |NULL|NULL    |NULL     |1          |Serializable  |false        |{numRemovedFiles -> 1, numRemovedBytes -> 966, numCopiedRows -> 2, numDeletionVectorsAdded -> 0, executionTimeMs -> 2427, numDeletionVectorsUpdated -> 0, numAddedFiles -> 1, numDeletionVectorsRemoved -> 0, numAddedChangeFiles -> 0, numDeletedRows -> 1, scanTimeMs -> 2233, numAddedBytes -> 953, rewriteTimeMs -> 192}|NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
|3      |2025-07-30 12:51:37.377|NULL  |NULL    |RESTORE     |{version -> 1, timestamp -> NULL}                                                              |NULL|NULL    |NULL     |2          |Serializable  |false        |{numRestoredFiles -> 1, removedFilesSize -> 953, numRemovedFiles -> 1, restoredFilesSize -> 966, numOfFilesAfterRestore -> 1, tableSizeAfterRestore -> 966}                                                                                                                                                                 |NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
|4      |2025-07-30 12:52:46.216|NULL  |NULL    |RESTORE     |{version -> 1, timestamp -> NULL}                                                              |NULL|NULL    |NULL     |3          |Serializable  |false        |{numRestoredFiles -> 0, removedFilesSize -> 0, numRemovedFiles -> 0, restoredFilesSize -> 0, numOfFilesAfterRestore -> 1, tableSizeAfterRestore -> 966}                                                                                                                                                                     |NULL        |Apache-Spark/4.0.0 Delta-Lake/4.0.0|
+-------+-----------------------+------+--------+------------+-----------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

## OPTIMIZE

In [32]:
#
#
_spark.sql(sqlQuery='OPTIMIZE spark_catalog.default.myTimeTravelTable')
#
#
_query = "SELECT * FROM spark_catalog.default.myTimeTravelTable ORDER BY id ASC"
### print(_query)
_spark.sql(sqlQuery=_query).show(500, truncate=False)
#

+---+----+------+
|id |name|salary|
+---+----+------+
|0  |a   |0.1   |
|1  |b   |0.2   |
|2  |c   |0.3   |
+---+----+------+

## 🚀 SQL `OPTIMIZE` Command in PySpark

The `OPTIMIZE` command in PySpark SQL is designed to **enhance performance** and **reduce the overhead** of querying Delta Lake tables by compacting small files.

### 🔧 Purpose
- Merges small data files into larger ones
- Boosts read efficiency and lowers latency
- Ideal for large-scale analytic workloads

### 📌 Syntax
```sql
OPTIMIZE table_name [WHERE predicate]
```
- `table_name`: The Delta Lake table you want to optimize
- `WHERE predicate`: (Optional) Filter rows to optimize specific partitions or data ranges

🧠 Key Features
- Targets **Delta Lake** tables only
- Can be used with **Z-Ordering** to optimize column-specific data layouts

## 🧲 Example
```sql
-- Optimizes entire table
OPTIMIZE sales_data;

-- Optimizes specific partition
OPTIMIZE sales_data WHERE region = 'West';
```

### 📌 Usage
- Applies to Delta Lake tables only
- Optional filtering with `WHERE` clause to optimize specific partitions or subsets of data

### 🧠 Features
- Supports partition-level optimization
- Can be paired with **Z-Ordering** to cluster data by specific columns for improved scan performance

### ⚠️ Notes
- Only usable on tables stored in Delta format
- Most effective in environments with frequent data insertions or streaming workloads

## ZORDERING (liquid clustering)

In [35]:
#
## REF : https://learn.microsoft.com/en-us/azure/databricks/delta/clustering
#
## REF : https://delta.io/blog/liquid-clustering/
#
_spark.sql(sqlQuery='OPTIMIZE spark_catalog.default.myTimeTravelTable ZORDER BY id')
#
#
_query = "SELECT * FROM spark_catalog.default.myTimeTravelTable ORDER BY id ASC"
### print(_query)
_spark.sql(sqlQuery=_query).show(500, truncate=False)
#

+---+----+------+
|id |name|salary|
+---+----+------+
|0  |a   |0.1   |
|1  |b   |0.2   |
|2  |c   |0.3   |
+---+----+------+